[2018-11-02 09:37] saffroy commented on #204
Thanks for confirming, and for suggesting the workaround!

[2018-11-02 15:14] lemmy commented on #203
Interestingly, removing ```fair``` from the following process definition fixes the bug.

[2018-11-05 00:45] will62794 commented on #147
@lemmy I will look into fixing this.

[2018-11-06 10:55] ctmarinas opened #206 "Allow efficiently combining VIEW with SYMMETRY reduction"
For the attached spec and configuration file, with symmetry reduction, TLC generates 244 distinct states. Adding a debug "cmd" variable but limiting the VIEW to exclude it leads to TLC generating 470 distinct states. Ideally, the distinct states should remain at 244 when both SYMMETRY and VIEW are used.
[CPU.zip](https://github.com/tlaplus/tlaplus/files/2552823/CPU.zip)

[2018-11-06 16:21] lemmy commented on #206
https://github.com/tlaplus/tlaplus/blob/f17cbf1a20c65302857e61431bc49c317e693417/tlatools/src/tlc2/tool/TLCStateMut.java#L154-L255

[2018-11-11 18:41] jasonkrasavage commented on #56
Where in the .ini file do I add the "-vm" and then the path, which for me is "/Library/Java/JavaVirtualMachines/jdk-11.0.1.jdk/Contents/Home/bin/java" if I am interpreting the tutorial correctly?

@lemmy could you lend a hand? Don't want to open a new support threat because my problem is so similar. I've already added the "-clean" right before "-vmargs" and still have the same issue: error and fai

[2018-11-11 18:58] lemmy commented on #56
@jasonkrasavage Below is how it is done on Linux which is almost identical to macOS.

[code]

[2018-11-11 19:01] jasonkrasavage commented on #56
Believe I have that correct then, what is my issue?

../Eclipse/plugins/org.eclipse.equinox.launcher_1.4.0.v20161219-1356.jar
--launcher.library
../Eclipse/plugins/org.eclipse.equinox.launcher.cocoa.macosx.x86_64_1.1.551.v20171108-1834
--launcher.defaultAction
openFile
-name
TLA+ Toolbox
-vm
/Library/Java/JavaVirtualMachines/jdk-11.0.1.jdk/Contents/Home/bin/java
-clean
-vmargs
--add-modules=java.s

[2018-11-11 19:02] jasonkrasavage commented on #56
Log file:

`!SESSION 2018-11-11 12:33:55.693 -----------------------------------------------
eclipse.buildId=1.5.7
java.version=11.0.1
java.vendor=Oracle Corporation
BootLoader constants: OS=macosx, ARCH=x86_64, WS=cocoa, NL=en_US
Framework arguments:  -keyring /Users/jasonkrasavage/.eclipse_keyring
Command-line arguments:  -os macosx -ws cocoa -arch x86_64 -keyring /Users/jasonkrasavage/.eclipse_

[2018-11-11 20:11] nieup opened #207 "PDF generation from .tex file on Mac"
Tex file is not found when generating pdf, I was able to manually generate the pdf with the command `pdflatex SecondSpec.tex` from the toolbox folder but from the toolbox GUI (`File/...`) it doesn't work.

Tried with different folder layouts, toolbox folder in the project and at the same level as the project.

<img width="703" alt="screen shot 2018-11-11 at 21 02 34" src="https://user-images.githu

[2018-11-11 20:16] lemmy commented on #207
You have to configure the path to ```pdflatex``` in the Toolbox's preferences under File > Preferences > TLA+ Preferences > PDF Viewer

[2018-11-12 16:32] ferantivero commented on #207
had same issue here and been able to troubleshoot this by configuring it from preferences was mentioned by @lemmy.

just as additional reference I installed MiKTeX.

[2018-11-12 19:50] nieup commented on #207
The file he is not finding is the .tex from my understanding.

This is what I have:
<img width="1242" alt="screen shot 2018-11-12 at 20 47 58" src="https://user-images.githubusercontent.com/8448600/48371536-7078b880-e6bc-11e8-8bcd-6e8714151d2a.png">

What do you suggest I change in the PDF viewer preferences?

[2018-11-12 19:52] lemmy commented on #207
Try setting "Specify pdflatex command" to ```/Library/TeX/texbin/pdflatex```.

[2018-11-12 20:36] nieup commented on #207
(/)

[2018-11-12 20:40] lemmy commented on #207
What do you suggest should be normal behavior?

[2018-11-13 11:10] yanghao opened #208 "SANY command line doesn't return valid exit status"
For example:

`java tla2sany.SANY modeling/test/test.tla`

making test.tla fail to passing, yet the exit status is still 0.
This made it difficult to integrate TLC into a existing build system.

BR, Yanghao

[2018-11-13 15:15] lemmy commented on #208
@yanghao Do you have the bandwidth to provide a patch?

[2018-11-13 20:10] lemmy commented on #202
https://github.com/tlaplus/tlaplus/issues/9

[2018-11-13 20:11] lemmy commented on #84
Duplicate of https://github.com/tlaplus/tlaplus/issues/195

[2018-11-13 20:11] #84 closed

[2018-11-13 20:11] lemmy commented on #207
Please reopen if necessary.

[2018-11-13 20:11] #207 closed

[2018-11-13 20:13] lemmy commented on #163
Please reopen if this is still an issue with 1.5.7 or above.

[2018-11-13 20:13] #163 closed

[2018-11-13 21:12] nieup commented on #207
Would suspect that if the command is in the PATH I wouldn't need to give an absolute path again

[2018-11-13 21:13] lemmy commented on #207
Can you submit a patch that adds this behavior to the Toolbox?

[2018-11-13 21:43] nieup commented on #207
Found a couple of references:
from `/Users/cedric/Workspace/java/tlaplus/general/bugzilla/index.xml`

...

Should it detect `pdflatex` (a) or point to where to change it (c)?

[2018-11-13 22:06] lemmy commented on #207
a) can still fail so I suggest to start with c).

[2018-11-15 05:04] lemmy commented on #147
There appears to still be a race condition when multiple workers run liveness checking and concurrently report a violation (tlc2.tool.liveness.LiveCheck1.printErrorTrace(BEGraphNode)).

[2018-11-15 09:32] yanghao commented on #208
@Lemmy, let me try :) not really a java programmer though.

[2018-11-15 18:52] lemmy commented on #208
dc19df16e205ed3de3dd6e3bbaf3a51fa6adb95c

[2018-11-16 18:57] lemmy commented on #208
This is fixed now with 2de21907a799791aabffe3ba43b3bcc7c4efb177

[2018-11-16 18:57] #208 closed

[2018-11-17 02:48] will62794 commented on #147
Hi @lemmy. I think this is just a synchronization issue with the liveness checker used by the SimulationWorkers. I can't claim to be very familiar with the internal details of liveness checking, but it appears that the `LiveCheck1.checkTrace` method isn't thread safe. I can easily reproduce the error you reference locally when running with just 2 workers:

[code]

which produces a variety of diffe

[2018-11-17 05:34] lemmy commented on #147
For now lets just synchronize LiveCheck1#checkTrace. Later simulation can be changed to use one LiveCheck1 instances per SimulationWorker. Do you want to open a pull request?

[2018-11-17 06:44] lemmy commented on #147
605fb0f9c0a77ce3572955eda94c5ed1909531ce

Just for LiveCheck1 because (I believe) LiveCheck is thread-safe.

[2018-11-18 19:09] lemmy opened #211 "Clone models from foreign specs"
Support cloning of models from foreign - not just the current - spec in the Toolbox's workspace.

[2018-11-21 08:47] peterwvj commented on #180
I ran into this issue too. Passing the`-clean` option fixed it. You should strongly consider making this the default  behavior.

[2018-11-22 18:39] lemmy opened #212 "Select irreducible polynomial of FP64 randomly at startup"
LL:

[2018-11-22 23:02] lemmy commented on #180
842f0be7c85a505547d135ae1f83d8ce956483c9

[2018-11-22 23:02] #180 closed

[2018-11-23 04:34] #212 closed

[2018-12-05 10:16] louy2 commented on #176
The community consensus seems to be that OpenJDK is the default choice going forward from Java 11 in open source projects. That said, from this [Reddit post](https://www.reddit.com/r/java/comments/8jvv8e/what_would_be_the_reasons_to_use_the_zulu_build/) by an Azul employee, there shouldn't be any differences between using Zulu and OpenJDK, and license should not be a problem due to exception claus

[2018-12-05 16:14] lemmy commented on #176
@louy2 Did you try the released 1.5.7 Toolbox or the [current nightly](https://tla.msr-inria.inria.fr/tlatoolbox/ci/products/) where I recently fixed a Java11 [incompatibility](https://github.com/tlaplus/tlaplus/commit/96b4ea1c0bf60d930c856204da42f2b21f6858c3)?

[2018-12-08 19:58] chillitom opened #213 "syntax highlighting of PlusCal stops and then reappears partially after edits"
Using TLAToolbox-1.5.7-win32.win32.x86_64

I find that after some edits the syntax highlighting of PlusCal stops (a little disconcerting when trying to learn the language) and will slowly appear again in place after further edits.

An example repro would be to take the below spec and to indent the `variables` section with a tab.  The highlighting will stop, then make further edits e.g. add a new l

[2018-12-09 21:32] malbertoni opened #216 "Add general build instructions"
I'm not running an OS for which there are pre-built executables. `ant` has no trouble building `tlatools` but `maven` runs in to problems with a missing `1.0.0-SNAPSHOT` (see below). I know there's not enough demand to justify "supporting" FreeBSD. Nonetheless, I don't think it's unreasonable to expect an explanation for the dependencies for those of us off the beaten path. `mvn -e -X compile` fai

[2018-12-09 21:53] mattmacy opened #217 "skip tests"

[2018-12-09 21:53] #217 closed

[2018-12-10 17:41] lemmy commented on #216
@malbertoni It won't be possible to build the Toolbox on FreeBSD due to lack of 3rd party dependencies (Eclipse does not provide an SWT implementation as far as I know).  You can however build the command-line tools such as TLC and SANY from the tlatools/ directory.  It uses ant instead of Maven.  Check tlatools/customBuild.xml for details.

[2018-12-12 03:14] malbertoni commented on #216
Thanks. Yeah. Ant builds fine. The FreeBSD ports folks haven’t bothered to upstream their Eclipse patches 🤦‍♂️ So it’s on them. I have a partial patch to make it work but I need to get those changes upstreamed.

[2018-12-13 19:22] lemmy opened #218 "IllegalArgumentException on symmetry set with one element"
[code]

Fix: Show a meaningful error message.

[2018-12-13 21:37] edahlgren commented on #140
I spent a bit of time looking into this and considering the different options. Here's my take, FWIW:

- Today TLC doesn't depend on eclipse libraries. This is a good thing. Practically speaking, users on unusual platforms (e.g. FreeBSD) can easily build TLC. Philosophically, if we believe in the "Unix Philosophy" of "Make each program do one thing well", TLC should remain blissfully unaware of the

[2018-12-13 23:42] lemmy commented on #140
@edahlgren Sounds as if we are moving in the right direction.

I fully agree that TLC should not depend on Eclipse code. While we already bake a few external dependencies into tla2tools.jar, there is no need here (ModelWriter can be pushed down into tlatools and changed to work without Eclipse classes).

I assume you want to make launch2args part of tla2tools.jar?
[code]

Eventually, we might find

[2018-12-14 01:08] edahlgren commented on #140
Yes, I think it would be easiest for users to depend on a single tla2tools.jar.

As long as we're fine with using standard Java XML libraries instead of Eclipse's org.eclipse.debug.core.ILaunchConfiguration to parse .launch files, then yes, I think you're right.

The JVM doesn't support something like OS-level exec (man exec), does it? If I'm right, then basically what you want is a wrapper script

[2018-12-14 01:13] lemmy commented on #140
The JVM should have everything needed to parse the XML backend file. No new third party dependencies needed.

I suggest we keep wrapper scripts and launchers for later as they can be added on top if needed.

[2018-12-14 01:30] edahlgren commented on #140
Cool.

Agreed.

[2018-12-15 01:53] lemmy commented on #216
Please reopen if needed.

[2018-12-15 01:53] #216 closed

[2018-12-18 03:03] louy2 commented on #176
@noahdesu
That error message is exactly the one fixed in the patch linked by @lemmy

Now that Java 11 support is out of the way, there seems to be no technical obstacle before bundling JVM. But it also takes away the urgency to bundling JVM ¯\_(ツ)_/¯

[2018-12-23 23:06] waltertross commented on #176
The nightly in https://tla.msr-inria.inria.fr/tlatoolbox/ci/products/ , which unfortunately goes by exactly the same filename (`TLAToolbox-1.5.7-macosx.cocoa.x86_64.zip`), also fixed my problem, which was

`[wtross /Applications/TLA+ Toolbox.app/Contents/MacOS]$ java -version
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.

[2018-12-24 23:44] lemmy commented on #176
@waltertross 1.5.7 will be incremented to 1.5.8 during the actual release preparation.  The timestamp suffix of the various ```feature/org.lamport.tla.toolbox.feature.*_1.0.0.201812102241``` allows to distinguish a nightly build from the 1.5.7 release.

[2019-01-03 05:05] lemmy commented on #183
@hwayne The [nightly Toolbox builds](http://dl.tlapl.us/tlatoolbox/ci/products/) have been updated to a newer SWT version. Can you please check if scrolling is still blocked with an open tooltip (it doesn't seem to be the case of Linux)?

[2019-01-07 20:08] RickGMSR opened #219 "Bug: Rescaling Issue with PDF"
Steps:
Create New Spec
"Help/Table of Contents" | click
"Help/Dynamic Help" | click
"Help/Specifying Systems" | click
"Help/The TLA+ Cheat Sheet" | click

"Window/Reset Window Layout" | click

Result: System may become unresponsive and screen display a big x

[2019-01-09 05:09] will62794 opened #220 "TLC doesn't handle primed tuple expression correctly in action predicate"
When trying to run the following spec with TLC:

[code]
it throws an exception:
[code]
If I change `Next` to either of the following:
[code]

[code]

everything works correctly. My understanding was that `UNCHANGED <<y>>` is equivalent to `<<y>>' = <<y>>`, which in turn should be true exactly when `y' = y`. It is unclear to me why TLC is throwing an error in this case.

I am using TLC2 Version 2.1

[2019-01-11 20:43] hwayne commented on #183
I've mostly switched to Linux, but I'll boot it up on Windows tomorrow and check it out.

[2019-01-13 18:53] dimbleby opened #221 "using unix line endings on windows gives baffling errors"
I'm using version 1.57 of the toolbox.

Although I'm working on Windows, I generally set up my git repositories to use unix line endings.

Trying to translate the following from pluscal to tlaplus:

[code]

gives "Unrecoverable error: Text on same line following `*)` that ends the comment containing the algorithm".  Which is puzzling, partly because it's rather awkwardly phrased so that I'm not co

[2019-01-14 16:37] lemmy commented on #221
Related to #157

[2019-01-14 16:49] lemmy opened #222 "Refactoring support for VARIABLES and UNCHANGE"
Modifying the list of VARIABLES by adding new or removing existing variables should be support by a refactoring action provided by the editor commonly found in other IDEs. E.g. an "Add new variable" refactoring could automatically add the new variable to all UNCHANGED statements in the spec. Similar, the "Remove variable" refactoring removes the variable from all UNCHANGED statements.

See [origin

[2019-01-14 17:18] lemmy opened #223 "Improve first-user experience by including or linking to the TLA+ examples"
The current Toolbox links to the existing TLA+ examples at "Help" > "TLA+ examples". This is rather hard to find. A rewording of the Toolbox's welcome page could include a link to the examples maybe even with a short introduction shown in the Toolbox.

Alternatively, the Toolbox could include [a subset](https://lamport.azurewebsites.net/tla/more-stuff.html) of the examples in the Toolbox.

-------

[2019-01-14 17:23] lemmy opened #224 "Keyboard shortcuts intermittently stop working"
[The TLA Toolbox has some rough edges. The ones I found most troublesome were: the keyboard shortcuts frequently stop working.](http://roscidus.com/blog/blog/2019/01/01/using-tla-plus-to-understand-xen-vchan/)

[2019-01-14 17:24] lemmy opened #225 "Include property name (if any) in TLC error trace"
[[...] when a temporal property is violated, it doesn’t tell you which one it was.](http://roscidus.com/blog/blog/2019/01/01/using-tla-plus-to-understand-xen-vchan/)

[2019-01-14 17:25] lemmy opened #226 "Long-running RSS background jobs blocks prover job"
[[...] It also likes to check its “news feed” on a regular basis. It can’t seem to do this at the same time as other operations, and if you’re in the middle of a particularly complex proof checking operation, it will sometimes suddenly pop up a box suggesting that you cancel your job, so that it can get back to reading the news.](http://roscidus.com/blog/blog/2019/01/01/using-tla-plus-to-understan

[2019-01-14 19:21] lemmy commented on #222
LL: "[...]  A command to add UNCHANGEDs for a variable
is a less bad idea only because a sensible person could simply not use
it.  A better idea is an interactive command that, for each action,
asks you if you want to add the UNCHANGED, giving you a chance to look
at the action and see if the variable should be unchanged.  There's
already such a command: a query replace of "UNCHANGED <<" by
"UNCHA

[2019-01-14 20:57] lemmy commented on #92
Obsolete due to f11c4ad92b0cdb5c3b1d918055c17bf64c8b0a93

[2019-01-14 20:57] #92 closed

[2019-01-15 17:28] lemmy opened #227 "OffHeapDiskFPSet suffers from long initialization time"
During TLC startup the default fingerprint set implementation [OffHeapDiskFPSet](https://github.com/tlaplus/tlaplus/blob/master/tlatools/src/tlc2/tool/fp/OffHeapDiskFPSet.java) zeros the allocated memory as part of its [initialization](https://github.com/tlaplus/tlaplus/blob/17c1f1acec9f43423d778dd16c58df158f25ae5a/tlatools/src/tlc2/tool/fp/OffHeapDiskFPSet.java#L171) ([relevant part of the TLA+ s

[2019-01-16 05:35] lemmy commented on #176
https://github.com/tlaplus/tlaplus/blob/master/general/docs/java-toolbox-installation.md

[2019-01-16 13:59] bellmar opened #228 "How is one supposed to use PCAL -spec -spec2 -myspec -myspec2 flags?"
Been playing around with this for a couple of days and can't seem to figure it out. I presume the correct syntax is:

`pcal -spec specname.tla`

With the .tla extension being optional. But the translator assumes the last argument is always the spec name and therefore ignores it while parsing the rest of the arguments then it throws an error because you have not included the spec name with the -spe

[2019-01-21 20:11] lemmy commented on #176
JEP 343: https://jdk.java.net/jpackage/

[2019-01-21 20:57] lemmy commented on #213
Possibly related to #224

[2019-01-24 02:53] cbailey555 opened #229 "Toolbox consistently crashing on Ubuntu 18.04"
Toolbox will abruptly exit, or sometimes hang and then exit. I'm getting it every ~10 minutes. All of the events produce similar logs to the one below, where there's a message about the resulting status being parsed, and then it exits. Is there any way I can get more detailed logs?

TLA+ Toolbox 1.5.7

java version "1.8.0_201"
Java(TM) SE Runtime Environment (build 1.8.0_201-b09)

Ubuntu 18.04

[c

[2019-01-24 17:09] lemmy commented on #229
@cbailey555 I have recently observed similar problems (hangs) which I eventually debugged through /var/log/syslog.  The root cause was in a completely unrelated Gnome extension. That said, it might make better sense to save your specs and then recreate the Toolbox's workspace in ~/.tlaplus/. If there is corruption, it would be there.

[2019-01-27 23:14] lemmy commented on #176
https://twitter.com/lemmster/status/1089656514892070912

[2019-01-27 23:14] lemmy commented on #176
Issue #120 related

[2019-01-31 17:59] quaeler commented on #176
Rounding the corner...
![screen shot 2019-01-31 at 9 48 52 am](https://user-images.githubusercontent.com/22581048/52074508-e57ec000-253e-11e9-9dd7-6da79f6028d8.png)

[2019-02-01 03:01] will62794 commented on #224
Possibly related to this issue: The ability to jump backwards in editor navigation does not seem to work inside the Toolbox. You can jump to a definition with ⌘ + Click, but the ⌘ + [ shortcut for jumping back in an Eclipse editor doesn't have any effect.

[2019-02-01 03:10] will62794 opened #230 "Add syntax highlighting to invariants/properties text input dialogs"
The text input dialog boxes for invariants and properties don't provide TLA+ syntax highlighting e.g.
<img width="640" alt="screen shot 2019-01-31 at 10 05 12 pm" src="https://user-images.githubusercontent.com/6131840/52100171-5e643300-25a4-11e9-8b6a-35592b16c4cf.png">
This is a relatively minor complaint but I think it would improve the overall "polish" of the toolbox UI.

[2019-02-04 17:41] agentultra opened #231 "Class Not Found Exception: javax.activation.DataSource"
Trying to run tlc on the command line gives:

[code]

Tried using both `java tlc2.TLC MyModule.tla` and a compiled binary of tlc as well with no dice. I'm not terribly familiar with the Java Ecosystem either but I haven't been able to downgrade my JRE/JDK either in case it's some missing/deprecated libraries or something.

MacOS 10.12.6
java version "11.0.2" 2019-01-15 LTS
Java(TM) SE Runtime Envi

[2019-02-04 18:02] lemmy commented on #231
@agentultra Please try with a [recent nightly build](http://dl.tlapl.us/tlatoolbox/ci/products/) which fixes a possibly [related issue](https://github.com/tlaplus/tlaplus/commit/96b4ea1c0bf60d930c856204da42f2b21f6858c3).

[2019-02-04 18:35] lemmy commented on #231
Closing per previous comment.

[2019-02-04 18:35] #231 closed

[2019-02-06 17:47] lemmy opened #233 "Add TLA+ user/discussion Google group to Toolbox's list of default RSS feeds"
Add TLA+ user/discussion Google group to Toolbox's list of default RSS feeds.

If we consider this too annoying, it could still be part of the Toolbox's list of RSS feeds but turned off. If popups/notifications considered too intrusive by user-base ask for forgiveness, not permission.

[2019-02-07 20:44] rhettinger opened #234 "Produce PDF Version not working on macOS"
Running the IDE's `Produce PDF Version` on the spec, `/Users/raymondDocuments/try_tlaplus/TCommit.tla` gives an error:

[code]

I'm running the nightly build: `Feb  5 20:19 TLAToolbox-1.5.8-macosx.cocoa.x86_64.zip` on macOs Mojave Version 10.14.2

The command **does** produce a valid LaTeX file, `TCommit.tex`.  I know that is valid because I can manually (from the command-line) run `pdflatex TComm

[2019-02-12 01:31] will62794 commented on #191
@lemmy Does the design direction outlined in the above comment still seem reasonable to you? If my understanding is correct, the Trace Explorer feature is not actually something built into TLC, but lives in the [Toolbox code](https://github.com/tlaplus/tlaplus/blob/5b92a0dd12fdcd88dbb1164a8515667dc1594318/org.lamport.tla.toolbox.tool.tlc.ui/src/org/lamport/tla/toolbox/tool/tlc/output/data/TraceExp

[2019-02-14 02:03] lemmy commented on #191
- Exactly, the trace explorer is built on-top of TLC and its documentation does not appear to be outdated
- Initially I had a different idea in mind but not adding ```--animationSpec``` and extending the trace explore instead sounds much better (no additional complexity in TLC)
- The trace explorer's Toolbox UI would probably have to change s.t. the explorer has a visualize button that runs trace

[2019-02-14 19:17] lemmy commented on #234
@rhettinger Did you configure the (absolute) path to pdflatex in the Toolbox's preferences (TLA+ Toolbox > Preferences > TLA+ Preferences > PDF Viewer > Specify pdflatex command)?

[2019-02-14 19:21] parlarjb commented on #49
It'd be helpful to be able to increase the text size in the model editor. It would greatly help accessibility, but I have an additional use for it:

I spent a lot of time teaching people TLA+ over a screen share. Depending on the size of their screen, their resolution, the size of their video share window, etc., it can be very difficult for them to see what I'm doing in the model checker. Teaching

[2019-02-18 18:19] fuzz-ai opened #235 "Bad invariants in model have a very tiny error icon"
If an invariant is mistyped, the error icon that pops up is extremely small and hard to find (and to mouse over in order to see the actual error):

![image](https://user-images.githubusercontent.com/45412395/52969668-beb1ed80-3376-11e9-8d6a-3d6b5c7fa42e.png)

(It's that tiny orange x to the bottom left of the invariant selection box.)

Java version: openjdk 10.0.2 2018-07-17
OS: Ubuntu 18.04.2 LTS

[2019-02-18 18:25] lemmy commented on #235
Belongs to #49

[2019-02-19 16:52] lemmy commented on #229
@cbailey555 Please reopen if this is still an issue.

[2019-02-19 16:52] #229 closed

[2019-02-19 16:52] lemmy commented on #234
@rhettinger Please reopen if this is still an issue.

[2019-02-19 16:52] #234 closed

[2019-02-19 20:31] philipmw opened #236 "Thousands separator for progress stats"
Right now, progress stat line (`EC.TLC_PROGRESS_STATS`) looks like this:

There are some huge numbers that need thousands separators for readability. I propose it to look like this:

I'm happy to implement this change, but I wanted to first check with you whether you see any issues with this enhancement.

[2019-02-19 20:35] lemmy commented on #236
@philipmw A patch will be accepted if
a) it uses the system's locale to select the thousands delimiter
b) the Toolbox's parser - which reads TLC's output - does not break or gets changed correspondingly

To work around b) it might be acceptable to only print a thousands delimiter in TLC's non-Tool mode

[2019-02-20 21:39] hwayne commented on #235
I wonder if there's a way to autopopulate the invariants field and/or make "Add" give a dropdown in addition to a text box...

[2019-02-20 21:48] lemmy commented on #191
Does it make sense to broaden the title/scope to "Animation Support for Traces"? Technically the differences are slim.

[2019-02-21 00:33] will62794 commented on #191
Sure, that seems sensible. I probably titled the issue as such since traces are displayed in the toolbox in an "Error-Trace" tab.

[2019-02-21 01:15] will62794 commented on #191
Hi @lemmy. Eclipse is giving me an error about Java 11 when I try to build and run the most recent version of the Toolbox ([f233b6](https://github.com/tlaplus/tlaplus/commit/f233b6263cafd04e3aceba7a0213e788d2dcfefb)):

[code]

I have installed Java 11 JDK on my Mac, which is running High Sierra (10.13.6) i.e.

[code]

In the Eclipse preferences window under `Java > Installed JRES` my installation

[2019-02-21 01:18] lemmy commented on #191
@will62794 Is it possible your Eclipse launch config for the Toolbox is hard-wired to your old Java 1.8 installation?
![jre](https://user-images.githubusercontent.com/88777/53136341-7be94480-3533-11e9-8216-bdc1b857bf9b.png)

[2019-02-21 01:26] will62794 commented on #191
Thanks, that fixed it. I made the selected environment ("CDC 1.0, Foundation 1.0" in my case), use the right JRE. I switched it from Java SE 8 to Java SE 11.

[2019-02-21 23:24] philipmw opened #237 "How to build the TLA+ Toolbox with maven (mvn)?"
As part of making a contribution to TLA+, I built a custom `tla2tools.jar` following your instructions.

As I understand, TLA Toolbox uses TLA tools under the hood, so I want now to test the Toolbox with my changes. Is that possilble?

There is no `tla2tools.jar` in the TLA Toolbox distribution. The closest is a collection of JARs like `./Eclipse/plugins/org.lamport.tla.toolbox.tool.tlc_1.0.0.2018

[2019-02-21 23:28] lemmy commented on #237
@philipmw Did you follow the [IDE setup guide](https://github.com/tlaplus/tlaplus/tree/master/general/ide)?  If yes, you can change the tlatools/ project and - once done with your work - build a Toolbox with ```mvn clean verify -Dmaven.test.skip=true``` (remove maven.test.skip to execute test suite) from the repos root directory.  The Toolbox zip files will then reside in ```org.lamport.tla.toolbo

[2019-02-21 23:32] philipmw commented on #237
I disagree with the way you changed the title of my question. I was not asking how to build the TLA+ Toolbox, but how to drop in a custom set of tools, as a JAR, and have my existing toolbox use those.

It sounds like that is not possible, and instead I need to build the toolbox.

[2019-02-21 23:35] lemmy commented on #237
Everything is possible but it is not worth the effort (e.g. released code has been signed and can thus not easily be replaced).

[2019-02-21 23:44] philipmw commented on #237
That helps, thanks.

Any idea about this error?

    % mvn clean verify -Dmaven.test.skip=true
    ....
    [INFO] Adding repository http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest
    [ERROR] Failed to resolve target definition /Users/pmw/Repos/tlaplus/org.lamport.tla.toolbox.product.product/TLAToolbox.target: Could not find "org.eclipse.e4.tools.spies.feature.feature.group/0

[2019-02-21 23:45] lemmy commented on #237
It seem you don't have yesterday's commit f233b6263cafd04e3aceba7a0213e788d2dcfefb

[2019-02-22 22:19] #237 closed

[2019-02-24 23:26] mgritter opened #241 ""Can't enumerate the value" errors from TLC are confusing"
I'm trying to reproduce issues which I found confusing writing my first specification (directly in TLA, not using PlusCal.)  The biggest stumbling blocks were errors of this form:

[code]

which occurs from the following fragment:

[code]

I know _now_ that I screwed up InitThread and defined a set rather than an individual record. But if I made that error, then the error message "looks OK"--- it

[2019-02-24 23:38] fuzz-ai commented on #235
Similar problem if there are errors in the constants section.  If unspecified, or there is an error, the error icon is small, and the error messages are only visible by hovering over it, or hovering over the "N errors detected" at the top of the screen:

![image](https://user-images.githubusercontent.com/45412395/53307113-a94b3080-385a-11e9-83bb-6c0002977dd5.png)

In addition to being hard to noti

[2019-02-24 23:58] lemmy commented on #235
@quaeler FYI

[2019-02-25 17:45] quaeler commented on #235
WRT the icon, we're relying on Eclipse's form's message manager framework (which is there because of the managed forms (which is there because of the form pages which are the model editor pages)) which automatically slaps that icon (`FieldDecorationRegistry.DEC_ERROR`) on there (hardcoded and immutable in `MessageManager`.)

We can add some additional UI hints ourselves.

[2019-02-25 17:47] lemmy commented on #235
What's the story with regards to Eclipse's forms framework and HiDPI?

[2019-02-25 18:07] quaeler commented on #235
I believe PDE's plugin editor uses the forms framework, and if so - it looks good at least in 2018-12
![screen shot 2019-02-25 at 10 05 34 am](https://user-images.githubusercontent.com/22581048/53358415-1e634800-38e5-11e9-99aa-abc668fe99a2.png)

[2019-02-25 18:14] lemmy commented on #235
Do you happen to have a screenshot with an (error) icon similar to the one in the Toolbox?

[2019-02-25 18:16] quaeler commented on #235
Nope... anything i could think of which would be an error condition (negative download sizes, invalid URLs,) were caught on focus loss and reverted rather than displaying an error indication.

[2019-02-26 05:09] lemmy commented on #168
https://github.com/quaeler/tlaplus/commit/f6b721cee9d0be0a7ca3179203f252f39c9eeb53

[2019-03-02 01:02] will62794 commented on #191
Hi @lemmy, I have been thinking about the core design goals of the Toolbox animation integration and I have a few thoughts that I would like to run by you. Here a few of the goals I would like to achieve with the animation feature, along with notes/question about how to achieve them:

1. Use TLA+ itself as the graphical description language
2. Allow users to annotate TLA+ actions with specific nam

[2019-03-03 04:40] fuzz-ai commented on #154
Is there a suggested workaround for this problem?

My best guess is to temporarily add
Null == S!Null
to the top-level module, which worked on a similar example I ran into.

(When this error is encountered on a nontrivial example, the syntax error box can be too tall to fit on the screen.)

[2019-03-04 04:34] lemmy opened #243 "Prover related Toolbox command should not call tlapm on unparsed/syntatically broken spec"
LL: "Certain Toolbox commands involving the proofs can only be performed if the spec is correctly parsed.  These are the two commands that call tlapm: Launch Prover and Prove Step or Module, and these two commands performed by the Toolbox itself: Renumber Proof and Decompose Proof.  It looks like the first two commands are calling tlapm even though they shouldn't, and I don't know what happens the

[2019-03-04 04:36] lemmy opened #244 "A!Spec incorrectly classified as identifier when Toolbox generates MC.cfg"
LL: "Create a TLC model for the TwoPhase spec.  It makes no difference what you instantiate the constants with.  Add A!Spec as the temporal property to check.  When you try to run the spec, TLC claims that the property A is not defined in the specification.  Change the property to be checked to Init /\ A!Spec, and everything works.

The obvious problem is that the Toolbox looks at the A!Spec and d

[2019-03-04 04:46] lemmy commented on #154
@quaeler Can you take a look at the UI layout of the syntax error box?

[2019-03-05 08:35] Henne opened #246 "Sync input files of the Configuration parser with the source code"
TLA2SANY uses two parsers which were generated with JavaCC.
The input files are tla+.jj for the grammar of TLA+ and config.jj for the grammar of the built-in operators which I call Configuration parser.
The generated files from tla+.jj reside in tla2sany/parser/ and the files from config.jj in tla2sany/configuration/.

These generated files were modified manually, but the changes were not put back

[2019-03-05 15:14] hatch-carl commented on #176
MacOS user here with issues. I had to dig a lot to get the toolbox working. For future adventurers, here is what you must do:

1. Download the TLA+ Toolbox release [as advised](http://lamport.azurewebsites.net/tla/toolbox.html).
2. Download the [AdoptOpenJDK](https://adoptopenjdk.net) JRE 8 Hotspot release and install it with the package installer.
3. Discover the full java home path for the Adopt

[2019-03-05 17:08] lemmy commented on #246
@Henne I believe @pron's [pron-unicode](https://github.com/tlaplus/tlaplus/tree/pron-unicode) branch also touches/updates the .jj files.

[2019-03-05 21:39] Henne commented on #246
@lemmy: The changes to the jj files you mentioned are in the [fixjavacc](https://github.com/pron/tlaplus/tree/fixjavacc) branch of pron's fork. I'll read it tomorrow.

[2019-03-05 22:59] lemmy commented on #246
@ahelwer

[2019-03-06 11:08] Henne opened #247 "Do not show Sonarcube that much duplicated code in TLAtools"
[Sonarcube](https://sonarcloud.io/dashboard?id=tlatoolbox%3Aparent%3Amaster) finds a lot of duplicated code in the TLAtools.

This can be reduced a bit by removing the directory src-gen from the sonar.sources tag in pom.xml.
The directory src-gen contains a modified version of the TLA parser generated with JavaCC,
which is not used in the TLAtools, but is counted as duplicated code with the used T

[2019-03-10 03:33] nradonic opened #249 "Is there a new build for the Mac? Mac OS version doesn't work for Mojave...."
Is there a new build for the Mac? Mac OS version doesn't work for Mojave....

[2019-03-10 17:51] lemmy commented on #249
@nradonic You can grab a [nightly build](http://nightly.tlapl.us/products) which works on Mojave.  We have yet to prepare an official release.

[2019-03-10 17:51] #249 closed

[2019-03-10 22:07] raphj opened #250 "PCal: translates a process with an undefined variable"
Hello,

The TLA toolbox is happy to translate the following PCal code to TLA+:

[code]

However, variable msg is not defined in process B, so the variable msg is shared between A and B in the resulting TLA+ code. This is very confusing and hard to debug.
I think the translation should fail and require variable msg to be defined in process B or outside of process A.

[2019-03-11 03:09] lemmy commented on #250
Related to #178

[2019-03-11 18:27] lemmy commented on #191
1. Strongly agree, while  TLA+ is not designed to be a domain specific language for visualizations, we are not interested in beauty
2. Not clear to me what you want to do (extend TLA+ language?!) and why it is important for the animator
3. Makes sense
4. Strongly agree, lets not clutter Spec. The Toolbox can create an artificial root module MC that extends Spec and SpecAnimated

[2019-03-11 19:58] lemmy commented on #154
The underlying bug doesn't appear to have a straight forward fix.

Another variant is:
- Change System's EXTENDS from Naturals to Integers
- Init Counter with -1 instead of Null (change FirstIncrement correspondling)

TE fails because with rather cryptic error about "-" (minus) being undefined.  For this it might suffice to extend the transitive dependencies of System in TE.

[2019-03-12 00:48] #24 closed

[2019-03-12 23:28] evelynmitchell opened #251 "Toolbox failed to launch after update from 1.5.4 to 1.5.7, clean didn't fix"
I just applied the updates, and restarted.
The only unusual item in the updates, was accepting the Eclipse certificate, which I did.
[.log](https://github.com/tlaplus/tlaplus/files/2959121/default.log)

Ubuntu 18.04

[2019-03-12 23:31] evelynmitchell commented on #251
Terminal has:
./toolbox --clean

(java:17750): Gtk-WARNING **: 17:30:42.792: Unable to locate theme engine in module_path: "adwaita",

(java:17750): Gtk-WARNING **: 17:30:42.795: Unable to locate theme engine in module_path: "adwaita",
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [bundleresource://472.fwk691779749:1/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Fou

[2019-03-12 23:35] lemmy commented on #251
@evelynmitchell The log indicates that you tried updating a 1.5.4 Toolbox to the current 1.5.7.  That is unfortunately not supported.

Please manually download the [1.5.7 Toolbox release zip](https://github.com/tlaplus/tlaplus/releases/tag/v1.5.7).  Once extracted, starting the 1.5.7 Toolbox should load your existing specifications from the Toolbox workspace in ~/.tlaplus/

Let me know if you need

[2019-03-12 23:35] evelynmitchell commented on #251
Thanks lemmy. I will do that.

[2019-03-12 23:42] #251 closed

[2019-03-12 23:47] lemmy opened #252 "p2 updater should reject incompatible updates (skipping releases)"
see  #251

As a simple workaround we could wire Toolbox 1.5.4 to receive updates from an URL .../1.5.5/.  Toolbox 1.5.5 only checks the URL .../1.5.6 and so on.  The disadvantage is, that we decide on the next version number when we do the previous release (we do we switch to 1.6.0).

Alternatively, each Toolbox version (e.g. x.x.Y) could have a unique URL (.../x.x.Y).  As part of the Toolbox x.x.

[2019-03-13 17:52] #247 closed

[2019-03-13 17:54] lemmy commented on #244
70391987bb8aebb4531b567f2b5dc03b810c58fc

[2019-03-13 17:54] #244 closed

[2019-03-13 17:54] lemmy commented on #228
Please reopen if still relevant.

[2019-03-13 18:16] #233 closed

[2019-03-13 21:09] lemmy commented on #219
Thanks @RickGMSR, I believe this has been fixed by https://github.com/lemmy/Pdf4Eclipse/commit/eaabb3e38ab7442e3261bd33aac8913af381754e

[2019-03-13 21:09] #219 closed

[2019-03-13 21:21] #202 closed

[2019-03-13 21:45] quaeler commented on #219
I cannot replicate this on Mac, Windows 10, nor Ubuntu 18.04 (using a 1.5.8 build, 1.5.7 release, and 1.5.8 build, respectively)

[2019-03-13 21:46] quaeler commented on #219
Hmm - should have refreshed this bug before commenting.

[2019-03-13 22:38] quaeler commented on #102
The `DirtyMarkingListener` instance constructed for these two widgets is presently configured to not validate the model on input change - so this is now a non-issue.

[2019-03-13 22:38] #102 closed

[2019-03-13 22:46] quaeler commented on #252
Ya - they use p2 and have the update sites directory-ed by version (major.minor).

![Screen Shot 2019-03-13 at 3 44 22 PM](https://user-images.githubusercontent.com/22581048/54319545-1410a180-45a7-11e9-83ff-f3e2c382d4e9.png)

[2019-03-13 22:49] lemmy commented on #252
Is it possible to update a 3.6.0 Knime to 3.6.9?

Maybe we have to be more "aggressive" with incrementing the Toolbox's minor version.

[2019-03-13 22:51] quaeler commented on #252
It is possible to jump dot-versions not sequentially (e.g 3.6.0 to 3.6.2)

[2019-03-13 22:54] lemmy commented on #252
Does Knime follow semantic versioning s.t. Micro gets only bumped on bugfix releases that contain no new features?

[2019-03-13 22:57] quaeler commented on #252
KNIME does a minor release twice per year; dot-releases contain both bugfixes and features (though larger impact new features sometimes wait for the next minor release.)

[2019-03-13 23:08] quaeler commented on #30
I cannot replicate this in the 1.5.7 release - can you @lemmy ?

[2019-03-13 23:10] lemmy commented on #30
Closing given the lack of instructions to reproduce.  Please reopen with reproducible instructions.

[2019-03-13 23:10] #30 closed

[2019-03-14 00:44] lemmy commented on #252
@quaeler Please check the reasoning in the commit message of 1a20ddf94585c042dd21e575753c485f10b3f867

[2019-03-14 00:44] #252 closed

[2019-03-14 03:10] lemmy commented on #219
![screencast](https://user-images.githubusercontent.com/88777/54328659-fc97df80-45cb-11e9-9012-f6e1bbdcbb1f.gif)

[2019-03-14 03:22] quaeler commented on #219
Does that mean this hasn't been fixed?

[2019-03-14 03:29] lemmy commented on #219
It's fixed but I wanted to keep a recording of the broken behavior as reference.

[2019-03-14 03:45] lemmy commented on #176
Thanks to @quaeler the [Toolbox nightly builds](http://nightly.tlapl.us) bundle a Java11 VM now.

[2019-03-14 03:45] #176 closed

[2019-03-14 17:39] lemmy opened #255 "Preemptive generation of initial states"
TBD

[2019-03-14 21:25] lemmy opened #256 "New spec wizard incorrectly accepts spec name ending in '#'"
![Screenshot from 2019-03-14 14-24-37](https://user-images.githubusercontent.com/88777/54392445-f144c280-4664-11e9-9cbb-932b6943d3ca.png)

[2019-03-14 21:27] lemmy commented on #189
@quaeler thanks, pushed.

[2019-03-14 21:49] lemmy commented on #162
@quaeler Please close issue with a screen-cast for the changelog.

[2019-03-14 21:52] lemmy commented on #256
Closing because the wizard apparently prevents this and I have no idea how I managed to end up in the state depicted above.

[2019-03-14 21:52] #256 closed

[2019-03-14 22:01] quaeler commented on #162
Closing issue.
![162_ubu_18 04](https://user-images.githubusercontent.com/22581048/54394405-02440280-466a-11e9-838c-cf86d796c218.gif)

[2019-03-14 22:01] #162 closed

[2019-03-15 00:38] lemmy commented on #183
@hwayne Can be closed as I assume you've booted Windows sometime within the last two months? ;-)

[2019-03-15 00:39] lemmy commented on #146
@pron Care to update this issue with your latest work?

[2019-03-15 00:40] lemmy commented on #120
@quaeler Do you want to close this?

[2019-03-15 00:42] lemmy commented on #34
@quicquid What's the verdict on this issue? Is there something the Toolbox should do differently?

[2019-03-15 02:41] quaeler commented on #120
Closed!

[2019-03-15 02:41] #120 closed

[2019-03-15 03:10] lemmy commented on #189
RCPTT appears to pay off. This seems to have caused regressions: https://tla.msr-inria.inria.fr/build/job/M-HEAD-master-Toolbox.product.standalone-mac/lastFailedBuild/testReport/junit/TEST-org.lamport.tla.toolbox.product/uitest/

[2019-03-15 04:04] quaeler commented on #189
will fix either the code or test, or appropriate to each test failure!

[2019-03-15 19:10] lemmy opened #257 "Show TLC cmd as executed on the command line in model editor"
Newer Eclipse releases come with a "Show Command Line" button which - for the current launch config - opens a dialog showing the actual command line call.

![Screenshot from 2019-03-15 12-01-00](https://user-images.githubusercontent.com/88777/54455978-3d057380-471a-11e9-95fd-e6cf43e2bfdc.png)

Similar functionality should be added to the Toolbox to reduce friction for users who use both the Toolbo

[2019-03-15 20:49] quaeler commented on #189
The failing tests are passing locally with https://github.com/quaeler/tlaplus/commit/34c6835790117a1cb726f0a1bd0a867eaf5ba708 the changes of substance for which tend to be checking to make sure the Run Model is disabled in most situations; additionally i added comments on a utility method, and standardized the spacing and comments in the test files i dealt with.

[2019-03-15 21:51] quaeler commented on #257
It seems unlikely most people would benefit from actually visually seeing that in the Toolbox itself - so perhaps a menu item and/or model editor button that copies the command to the clipboard?

[2019-03-15 21:53] lemmy commented on #257
Seeing - while being able to copy&paste - would e.g. help users understand what Toolbox checkbox does what.

[2019-03-16 14:45] quaeler commented on #189
I believe build number 26 has passed due to this fix, so i'm re-closing this.

[2019-03-16 14:45] #189 closed

[2019-03-16 18:11] lemmy commented on #189
There remain 6 test failures in the old UI test suite (SWTBot).  I restarted the builds on mac, win, and linux to check if they are just flukes.

[2019-03-18 03:04] will62794 commented on #191
I have done some more exploration of the codebase and hacked together a crude prototype of the Animation feature. This has helped me shape my current vision for how the feature will work, and how to implement the real version. Here are my current thoughts.

### User Interface

To create an animation for their TLC traces, a user imports the `Animation` module and defines a `View` expression in thei

[2019-03-18 14:55] quicquid commented on #34
We might think about how the user sets the TLAPM environment in general. There are two relevant paths: the one for cygwin and the PM location [1]. The simplest solution might be to add options for both paths to the toolbox. Restricting the PM to a certain architecture is a bit complicated due to the dependency on external tools (Isabelle brings its own cygwin envionment).

[1] Depending on the ope

[2019-03-18 17:08] xxyzzn opened #258 "Decompose Proof command incorrectly handling instantiated module parameters"
If an INSTANCE statement imports a module M by implicitly instantiating a constant or variable X by the same symbol X from the current module, instances of X in the proof the command creates will be replaced by the entire INSTANCE statement.  To work around this problem, simply add the explicit instantiation X <- X to the INSTANCE statement's WITH clause.

[2019-03-18 17:08] lemmy commented on #191
@will62794 I agree that it is best to start with what other tend to call "minimum viable product".  For the mvp it would probably be acceptable to directly add the view expression to ```Spec```.  Naming actions sounds more like a dedicate feature which we eventually want to add to TLC.  Repeatedly I have wished to be able to label actions to make it easier to map from a (vanilla) error trace to th

[2019-03-19 02:38] xxyzzn commented on #258
This problem is not easy to fix, so it's not likely to be fixed soon--especially since the workaround is simple.  The Decompose Proof command is a convenience and is not critical.

[2019-03-19 02:54] lemmy commented on #258
9156c7b85929f9d6939f6b0bd05a5a224cceec31

[2019-03-20 04:02] lemmy commented on #154
LL: The fix is to find all definitions overrides that replace a definition of an operator X in a non-root module with a model value.  For each such X that is not defined or declared in the current spec, a constant X should be declared in TE.tla and overridden by the model value X in TE.cfg.  It's not clear what should be done if X is defined or declared in the current spec.  It's certainly OK if t

[2019-03-20 23:12] lemmy commented on #236
[code]

[2019-03-20 23:13] philipmw commented on #236
Oh, no! Do you know how to reproduce this?

[2019-03-20 23:25] lemmy commented on #236
Seems to be related to checking liveness.

It also just occurred to me that this change makes MC.out files locale and thus platform dependent.  I lean towards reverting.

[2019-03-20 23:29] philipmw commented on #236
I'll support you if you want to revert it.

However, the status quo (before this PR) is that some values had thousands separators already, while others didn't. (And the ones that didn't were difficult to read because the numbers could be huge.) My PR aimed to make all numbers consistently easy to read. Any locale/platform-dependence already existed.

I still think there's virtue in having consiste

[2019-03-20 23:32] lemmy commented on #236
The fix for the actual issue is to also use NumberFormat in org.lamport.tla.toolbox.tool.tlc.output.data.StateSpaceInformationItem.parseOld(String).

The methods below trigger parseOld:
tlc2.tool.distributed.TLCServer.modelCheck()
tlc2.tool.distributed.TLCServer.printSummary(int, long, long, long, boolean)
tlc2.tool.ModelChecker.modelCheck()

As to MC.out files being locale dependent, TLC could si

[2019-03-20 23:43] lemmy commented on #236
I also wonder if there is merit in printing thousand delimiters in TLC's _tool_ output.  In this mode, it should be the Toolbox's responsibility to print delimiters.  In non-tool mode, TLC could then continue to respect the user's locale.

[2019-03-21 18:52] lemmy commented on #105
As a very basic but also easy to implement first step, diffing two snapshots should simply diff the two corresponding spec snapshots.  This is indirectly possible by looking at the specs history (Team > Show Local History) and manually matching snapshot timestamps to spec edits.

Instead, the spec explorer should display a "Compare each other" command if two models are selected in the spec explore

[2019-03-22 16:27] Henne opened #260 "Intermittent Junit Test Failure: GotoDefinitionTest"
On my system the GotoDefinitionTest from org.lamport.tla.toolbox.tool.tlc.ui.uitest fails with a NullPointerException. I used Xephyr for the uitests.

I replaced the line
   `queue.add(TokenSpec.findCurrentTokenSpec(r));`
with
  `final TokenSpec TS = TokenSpec.findCurrentTokenSpec(r);
    if (TS != null) queue.add(TS);`

which avoids the NullPointerException and results in a understandable asserti

[2019-03-22 16:34] lemmy commented on #260
@quaeler IIRC you are the original author of this test.

[2019-03-23 22:25] lemmy opened #261 "Spec Explorer does not annotate (snapshot) model as errored despite an error trace"
The root cause appears to be that the (error) marker (org.lamport.tla.toolbox.tool.tlc.util.ModelHelper.TLC_MODEL_ERROR_MARKER_TLC) read by org.lamport.tla.toolbox.tool.tlc.model.Model.hasError is only set in org.lamport.tla.toolbox.tool.tlc.output.data.TLCModelLaunchDataProvider.createError(TLCRegion, String) if coverage data reports an incomplete state space exploration.  While this will be the

[2019-03-24 19:03] quaeler commented on #189
As mentioned in an email thread, the SWTBot failures pass for me when run locally against `master` - in agreed further avoidance of the time drag here, i'm moving on to more #49 work.

[2019-03-25 10:14] gsalierno commented on #176
I'm not able to execute the bundle provided by @quaeler. When I run the toolbox the following error prompt:

`The JVM shared library "/Users/user/Desktop/TLA+ Toolbox.app/Contents/Eclipse/plugins/org.lamport.openjdk.macosx.x86_64_11.0.2.9/Contents/Home/bin/../lib/server/libjvm.dylib"
does not contain the JNI_CreateJavaVM symbol.`

`java 11.0.2 2019-01-15 LTS
Java(TM) SE Runtime Environment 18.9 (b

[2019-03-25 15:06] quaeler commented on #176
It's not clear from where you are getting the bundle. If you are building the Toolbox locally, we made some fixes to the macOS version of the bundle early last week, but unfortunately failed to increment the version deployed - so you would need to delete your local cache:
[code]
and then rebuild.
If you're using ~nightly builds, you'll need to pick one up from the last few days.
If there is a door

[2019-03-25 15:33] lemmy commented on #176
Last week's changes seem to have caused a regression (with today's nightly build):

<img width="435" alt="image001" src="https://user-images.githubusercontent.com/88777/54932774-a9316580-4ed8-11e9-818f-ad2833dbda7d.png">

[2019-03-25 15:36] gsalierno commented on #176
This is exactly what I've experienced with the last nightly build available at [Toolbox nightly builds](http://nightly.tlapl.us/products/)

[2019-03-25 15:51] quaeler commented on #176
Perhaps the nightly build system did not get it's cache clean out either... @lemmy ?

[2019-03-25 15:58] quaeler commented on #176
If i nuke my local cache once again and build against the master-sync i did on the 23rd, i have a functioning Toolbox & TLC agent.

[2019-03-25 16:01] lemmy commented on #176
.repository/ has been purged and a [new build requested](https://tla.msr-inria.inria.fr/build/job/M-HEAD-master-Toolbox.product.standalone/605/).  Build results will be available within the next hour.

[2019-03-25 18:00] lemmy commented on #176
New [nightly build](http://nightly.tlapl.us/) from purged repository fixes issue for me.

[2019-03-26 08:13] gsalierno commented on #176
I confirm the last build fixed the problem also for me

[2019-03-26 18:20] lemmy opened #262 "Named TLCGet parameters cause NullpointerException when used in Trace Explorer"
Running the Toolbox's Trace Explorer with an expression such as: TLCGet("diameter") internally causes a NPE in TLC which doesn't get handled gracefully.

[2019-03-27 21:22] lemmy opened #263 "Bogus "No property pages for ." on mouse click on tree item's "Properties" context menu for everything except spec"
![Screenshot from 2019-03-27 14-21-28](https://user-images.githubusercontent.com/88777/55113170-a2068500-509b-11e9-80ae-bf3802e88dee.png)

Menu item defined in /org.lamport.tla.toolbox/plugin.xml. Menu items are ideally disabled.

@quaeler If you happen to come by this...

[2019-03-27 21:28] lemmy commented on #9
[code]

[2019-03-28 03:20] lemmy commented on #262
https://github.com/tlaplus/tlaplus/commit/55b7d31f91ed0be814103fccb3dac2a4bb20ad4a

[2019-03-28 04:10] lemmy commented on #9
Looking at the callers of org.lamport.tla.toolbox.tool.tlc.model.Model.setTraceExplorerExpression(List<String>) shows that the table checkboxes have never been taken into account.

[2019-03-28 05:23] lemmy opened #264 "Add syntax highlighting to Error Trace Exploration input boxes"
![Screenshot from 2019-03-27 22-21-07](https://user-images.githubusercontent.com/88777/55132149-a56f3000-50de-11e9-97a7-41eed06fcf74.png)

Technically, this should just be a matter of reusing TLAEditor similar to how it's done for "Evaluate Constant Expression".

Current input boxes do not support undo/redo either.

[2019-03-28 05:31] lemmy opened #265 "Support named expressions in Error Trace Exploration"
The actual expression as "Name" in the error trace is hard to read:

![Screenshot from 2019-03-27 22-29-54](https://user-images.githubusercontent.com/88777/55132498-dbf97a80-50df-11e9-9b2b-f21a061a8e00.png)

One possibility is to explicitly name expressions, s.t. "foo" gets used as a name:
[code]

Workaround is obviously to define the operator in the spec and references the op in the trace explore

[2019-03-28 06:44] #264 closed

[2019-03-28 18:56] lemmy commented on #265
![TLAGitHubIssue265](https://user-images.githubusercontent.com/88777/55184925-88734500-5150-11e9-9c1b-35a91757c21b.gif)

[2019-03-28 18:59] lemmy commented on #265
TODO: Visually separating by using italics for named expressions in Error-Trace table.

[2019-03-28 22:26] lemmy commented on #262
Side note: The error-trace expression:  ```TLCGet("diameter")``` results in an infinite error-trace upon exploration because it internally is assigned a TE spec variable.

[2019-03-29 05:38] lemmy opened #266 "Non-deterministic operators in standard modules only evaluated once during TLC startup when on right-hand side of zero-arity operator"
The operator ```Random``` is constant and thus only evaluated during ```tlc2.tool.impl.SpecProcessor.processConstantDefns(ModuleNode)``` which executes as part of TLC startup.  ```Random``` will *not* be re-evaluated during the evaluation of the next-state relation.

[code]

The following two specs A and B are (subtly) not equivalent.  A allows infinitely many behaviors where B allows exactly thre

[2019-03-29 17:06] lemmy commented on #49
https://twitter.com/tummycom/status/1111375890896703488

[2019-03-29 17:25] lemmy opened #267 "Self-referential error trace exploration: _TEPosition and _TETrace operators"
For the lack of better naming, support self-referential error trace exploration s.t. a trace expression can reference to the actual trace (```TETrace```).  This would significantly increase the expressiveness of trace expressions:

Current state number in error-trace (depends on 43e2b745537726bb0b4f8ad75d52cec6edd5f1d0):
[code]

and a vector clock ("Clock"), activate process in state ("Host"), and

[2019-03-29 17:53] lemmy commented on #267
Dump of current prototypes:

[code]

[2019-03-29 19:46] lemmy commented on #9
With #265 the Trace Explorer also needs up/down buttons to reorder composed expressions.

[2019-03-29 20:01] lemmy commented on #9
It would also be nice if the expression text box would be sashed to be expandable.

[2019-03-30 00:19] quaeler commented on #263
Fixed with https://github.com/tlaplus/tlaplus/commit/99a9c1b49976b4f99727ef2c369d727746288091

[2019-03-30 00:19] #263 closed

[2019-04-01 20:34] quaeler commented on #195
Closed with cf4e03821a677114fced1aa9a54d9d090b0e10ed

[2019-04-01 20:34] #195 closed

[2019-04-03 18:41] quaeler commented on #168
Closed with 57d926ae2daf8f0ab45abf3b82dc8f0fd5783810

[2019-04-03 18:41] #168 closed

[2019-04-04 16:38] lemmy commented on #158
@DaveCTurner Please have a look at #267 with which it should be possible to add an "annotation variable" to a trace without increasing the model's state space.

[2019-04-04 17:21] lemmy commented on #233
To turn all or individual feeds off:

![RSSFeedPreferences](https://user-images.githubusercontent.com/88777/55575278-5f5c3280-56c3-11e9-877b-1097481d5a05.png)

[2019-04-04 19:01] lemmy commented on #265
Map SANY error locations back to Trace Explorer locations (9ae65abe9131abb351b28bd84d4965e8d933889b):

![SanyLocation2TraceExplorerLocation](https://user-images.githubusercontent.com/88777/55581262-4195ca00-56d1-11e9-9dad-b69f3f3809d1.png)

[2019-04-05 03:42] lemmy commented on #252
Changed https://tla.msr-inria.inria.fr/build/job/M-HEAD-master-Toolbox.product.standalone/ to force nightly builds to by default update to latest and greatest.

[code]

To activate either install today's nightly build or enable "Receive experimental features" in Toolbox preferences:

![Screenshot from 2019-04-04 20-40-56](https://user-images.githubusercontent.com/88777/55602365-0bc90380-571a-11e9-

[2019-04-05 22:34] quaeler commented on #223
The Welcome page could be improved in a few ways; in the least, we should do some modernization of it to current aesthetic design, and add links to:
* the examples page
* Hillel's learning site
* the Google group
* ? your Twitter feed
* ? the GitHub repository

We could also fetch remote content to populate here.

-------------------

To accommodate a change like that to the NewSpecWizard we shoul

[2019-04-05 22:37] lemmy commented on #223
This is what it looks like in my prototype.  The buttons will import the example into the Toolbox.

![Screenshot from 2019-04-05 15-35-11](https://user-images.githubusercontent.com/88777/55659892-7af53500-57b8-11e9-9270-b2c8ce12bc7e.png)

Unfortunately, it seems impossible to programmatically download a zip archive for a subdirectory of a GitHub repository.

[2019-04-06 19:22] pron opened #269 "Update the embedded Java runtime to the current version (12)"
[code]
https://twitter.com/pressron/status/1114536612665417728

[2019-04-07 17:57] lemmy commented on #223
![WelcomescreenExamples2](https://user-images.githubusercontent.com/88777/55687612-d132b700-5923-11e9-850b-f42007134fe5.gif)

[2019-04-08 08:08] fuzz-ai opened #270 ""A label may not appear in a macro" when no macro is present"
I have encountered the issue also reported here: https://groups.google.com/forum/#!topic/tlaplus/ouUGXPV8kRI
in which the PlusCal translator appears to stop working.  I had previously tried to refactor some code into a macro, and started receiving

"PCal Translator Error

Unrecoverable error:
 -- A label may not appear in a macro"

in a process definition, even though the macro definition has been

[2019-04-08 15:14] lemmy commented on #270
@fuzz-ai This happened with the 1.5.7 Toolbox release or one of the nightlies leading to 1.5.8 (the way how the pcal translator is invoked has changed after 1.5.7)?

[2019-04-08 16:58] fuzz-ai commented on #270
It was in 1.5.7.

[2019-04-08 16:59] lemmy commented on #270
If possible, please check if this bug is still present in the [nightly].

[nightly]: http://nightly.tlapl.us/products

[2019-04-08 17:03] #265 closed

[2019-04-09 16:09] lemmy commented on #79
LL: "I'm not sure what should happen if the user wants to use -continue from the Toolbox.  As I recall, TLC just keeps running with that option.  I don't see doing that from the Toolbox being useful.  For using with the Toolbox, TLC should be stopped when an error is reported and the user allowed to then tell the Toolbox to resume running the model from where it left off.  Implementing that would

[2019-04-09 16:10] lemmy opened #271 "Allow to open different Error-Trace Explorer views"
The Toolbox does not support opening multiple instances of the Error-Trace Explorer.  In other words, the Error-Trace Explorer is a singleton.

I frequently find myself wishing to be able to open multiple Error-Trace Explorers when I e.g. work with multiple models.  Even more importantly, a singleton Error-Trace Explorer doesn't make much sense if the Toolbox eventually supports TLC's "-continue"

[2019-04-09 16:27] lemmy opened #272 "Better Toolbox support for model checking different CONSTANT values"
This idea is about running TLC multiple times/once for each configuration:

LL: "I was doing something by hand that should be mechanized.  I'm writing a spec of an algorithm in which Succ is a CONSTANT parameter.  I wanted to test the algorithm for all values of Succ in some set S.  The only way to do that is to make Succ a variable that is left unchanged by the next-state relation.  It would be n

[2019-04-10 00:59] lemmy commented on #266
351309ae5079995c5a3b8dae052e36e600b79917

[2019-04-10 00:59] #266 closed

[2019-04-10 01:01] lemmy commented on #223
393bbb29fbf08d67175ee49724a1a6b5aefd2965

![WelcomeScreenExamples](https://user-images.githubusercontent.com/88777/55844281-68009e80-5af1-11e9-8112-ac18f22c35a1.png)

[2019-04-10 01:01] #223 closed

[2019-04-10 20:29] lemmy commented on #159
From the aforementioned document [current-tools.pdf](https://lamport.azurewebsites.net/tla/current-tools.pdf):

[code]
----
Additionally, SANY does not properly handle the escaped characters  ```\\``` and ```\"``` whereas the other pairs of characters discussed in _Specifying Systems_ ([section 16.1.10 p. 307](https://lamport.azurewebsites.net/tla/book-02-08-08.pdf)) are handled as described.

[2019-04-10 23:14] lemmy commented on #159
Below is a JSON module with a hacked TLC module overwrite to print TLA+ function record as a JSON object:

[code]

[code]

[2019-04-11 03:29] lemmy commented on #267
![ErrorTraceExplorationP1](https://user-images.githubusercontent.com/88777/55923801-f5102a00-5bbb-11e9-8a4a-11403f788857.gif)

![ErrorTraceExplorationP2](https://user-images.githubusercontent.com/88777/55928819-fc8cfe80-5bce-11e9-85f6-58ede238893b.gif)

For ```ToJSONObject``` operator see https://github.com/tlaplus/tlaplus/issues/159#issuecomment-481901751

[2019-04-11 04:34] #267 closed

[2019-04-11 17:42] lemmy commented on #260
SWTBot tests have been removed from the project's (active) test suite.

[2019-04-11 17:42] #260 closed

[2019-04-14 17:33] will62794 commented on #191
Hi @lemmy, I have been making progress on the Toolbox animation feature, but I have a few questions in regards to testing. Since this is mostly a UI specific feature, for prototyping I have started by working in the animation logic and running the Toolbox manually to test out my changes. This works reasonably well but the feedback loop is slow. I am wondering about better testing strategies. I hav

[2019-04-14 22:01] mgxm commented on #270
I could not reproduce the bug on 1.5.8. Seems to be fixed

[2019-04-15 03:11] lemmy commented on #191
@quaeler (please chime in) and I have only recently started to use the RCPTT tests and there is unfortunately no howto or guide yet.   Assuming you initially and recently followed the [ide guide](https://github.com/tlaplus/tlaplus/tree/master/general/ide), your Eclipse IDE should already have the RCPTT tooling installed.  If that's the case, this [screencast](https://vienna.lemmster.de/uploads/rcp

[2019-04-15 15:43] zstone1 opened #273 "Programatic interface for tla"
Hello, I am looking for some docs, or advice on the following matter:

1) Calling TLC/ pluscal translator directly from java. Ideally java 8 or 9.
2) Parsing responses from the command line tools
3) Writing Petri Net specifications in PlusCal

If you need some background on my problem:
I am writing some code (in java/kotlin). It takes a petri net, and some ltl style properties. It verifies those p

[2019-04-15 15:50] lemmy commented on #273
@zstone1 1. and 2. are both the mechanism how the TLA Toolbox invokes and communicates with TLC.  Please check the Toolbox's source code for instructions.  Note that we have effectively dropped support for < Java 11.

I'm afraid I can't answer question 3.  Are you referring to basic PT nets or a more sophisticated flavor?  What kind of LTL properties do you have in mind (some LTL operators such as

[2019-04-15 19:41] quaeler commented on #191
Ya, as Markus writes, there is a large dearth of guides and only loose documentation. Once you have the RCPTT launch configuration, i found it most useful to examine one of the existing tests to understand how the scripting language works.  RCPTT uses ECL (Eclipse Control Language, i believe), the auto-generated reference API document for which [can be found here.](https://hudson.eclipse.org/rcptt

[2019-04-16 14:14] #236 closed

[2019-04-16 14:17] lemmy commented on #49
Two more annoyances with Evaluate Constant Expressions:

1. Moving the cursor right on an existing expressions additionally scrolls the Result Page (unless it fits the available horizontal space)
2. Running model checking steals focus from Evaluate Constant Expressions (one has to reselect ECE after running TLC)

[2019-04-16 18:31] quaeler opened #274 "Implement filtering of the error-trace in the TLC Error View"
The Error-Trace list should allow filtering on:
* Variable / Expression
* Value
** by explicit value
** by changed value
* Frame range (e.g states 10 through 15)

[2019-04-16 18:35] quaeler opened #275 "Allow restarting of TLC from a specific state in the TLC Error Trace"
It would be very nice to allow users to 'right-click' on a specific state in Error-Trace of the TLC Error View and choose a command worded roughly like "Start from this state."

Upon invoking this, TLC will be invoked with a modified spec commencing checking with the selected state as the initial state.

[2019-04-16 18:40] lemmy commented on #275
To clarify: There is no need to modify the original spec.  The (generated) TLC config file can simply reference a new initial predicate in the generated MC.tla file.

[2019-04-16 19:14] quaeler opened #276 "Add preference to support new TLC how to run presentation"
With the next release, the Model Editor section defining how to run TLC has changed substantially; provide a preference, at least mimicking the pulldown, to let the user define their default TLC run resource allocation.

[2019-04-16 19:55] quaeler commented on #49
(1.) of the annoyances is a feature of SWT (i can kind of, sort of, see a valid accessibility use-case - so that is tempering my usual sniping on the kwality of SWT.) It will happen with other text areas, too - like the User Output.
It might be less annoying if dbe09ba sticks as a keep-able feature as it allows the page to be even more narrow before forcing the horizontal scrollbar.

[2019-04-16 22:00] quaeler commented on #49
(2.) of the annoyances is addressed by the cherry-pick to master with 8bc49ab

[2019-04-16 22:09] lemmy commented on #49
8bc49ab does not appear to work on Linux.

[2019-04-16 22:16] quaeler commented on #49
Works on both Mac and Win10... SWT!

[2019-04-16 22:31] quaeler commented on #49
Verified the crappy behavior on Ubu18.04 - know idea where the focus is being sent, but if i hit tab once, it magically shows up where it should be on Ubu.

[2019-04-16 22:36] lemmy commented on #49
That's good enough for me.

Another way to lose focus is when the ECE expression results in a TLC error.  The Toolbox then opens the error trace explorer which steals focus.  Lets not work on this for the moment though.

[2019-04-17 01:07] lemmy commented on #267
An [(upcoming) change](https://bitbucket.org/bestchai/shiviz/commits/2ed358b07307297fca31a8b3d893e4ee006c37f6) in ShiViz will improve its support to parse the Toolbox's error traces directly (no need for the [ToJSONOperator module overwrite hack](https://github.com/tlaplus/tlaplus/issues/159#issuecomment-481901751) or manually fixing the Toolbox's output with [sed](https://github.com/tlaplus/tlapl

[2019-04-17 01:15] rw commented on #249
@lemmy The nightly build link isn't loading, and anyway it looks like it wouldn't use HTTPS. Do you have a signed build that works on Mac? Thanks!

[2019-04-17 01:25] lemmy commented on #249
@rw Connectivity to our build machine is unfortunately interrupted.  I hope for for the machine to be available again soon but can't give an ETA (the administrators have been notified).

Note that recently a [Homebrew](https://brew.sh/) cask [has been added](https://github.com/Homebrew/homebrew-cask-versions/pull/7203) for Toolbox nightlies (also affected by the outage though):

[code]

[2019-04-18 02:43] zstone1 commented on #273
After some further digging, it turns out ProB2 (https://github.com/bendisposto/prob2) seems to solve my problem. It has a TLA interface, the petri nets are pretty easy to translate into b-machines, and it runs in java 8. Thanks!

[2019-04-18 02:43] #273 closed

[2019-04-18 03:11] lemmy commented on #273
Don't you then translate the original petri-net into a b-machine and then again into TLA+?  I wonder how much bloat this creates.  If such a translation turns out to be practicle, it might be a viable approach to participate in the petri-net [model checking contest](https://mcc.lip6.fr/index.php).

Also note that prob2's TLA+ interface can't support Java8 indefinitely unless they decide not to upg

[2019-04-19 09:22] rw commented on #249
@lemmy Thanks for the quick help! It looks like those builds aren't signed, though, and the site isn't behind HTTPS. Do you have a more secure option? Thanks!

[2019-04-19 14:31] lemmy commented on #249
@rw  Thanks for bringing this up.  The [nightlies](https://nightly.tlapl.us/) can now also be accessed via HTTPS.

With regards to signing the app itself, please note that the individual Toolbox jars are actually signed.  You can verify the signatures under Help > About > Installation Details > Plug-Ins > Show Signing Info.

In the future we also hope to provide an app signed the Apple way, but Ap

[2019-04-19 17:10] lemmy commented on #269
FWIW: Commits https://github.com/lemmy/eclipse-jdk-bundles/commit/7d2b8dafa3f888f7e959bd943ab7f8fcc83a5843 and dd26d4386a1f5975ebbd7f733567dc8951fa83a1 update the bundled JVM to 11.0.3.  https://github.com/lemmy/eclipse-jdk-bundles/commit/04ea73d34f9b054e007e939cff2d65bb1593c983 prepares the repo for Java 12.

[2019-04-19 18:56] rw commented on #249
@lemmy These are great, thanks again for your help! Just for completeness' sake, could you point me to the CI build scripts so that I could try building the Mac app for myself? Is it the `.travis.yml`?

[2019-04-19 19:04] lemmy commented on #249
https://github.com/tlaplus/tlaplus/issues/237#issuecomment-466211422

[2019-04-19 21:24] rw commented on #249
@lemmy I saw that before, but maybe I didn't understand the implications -- is that also applicable for running a headless TLA+ build in CI? Thanks for all your help!

[2019-04-19 21:25] lemmy commented on #249
Please clarify what a "headless TLA+ build in CI" means but the maven build is what is executed by our Jenkins instance.

[2019-04-19 21:41] rw commented on #249
@lemmy Ah I think I figured it out! According to this page, the relevant file is now missing and maven can't find it: https://bugs.eclipse.org/bugs/show_bug.cgi?id=545329

[2019-04-19 21:42] lemmy commented on #249
I'm working on this problem right now and hope to have a solution soon.

[2019-04-20 04:44] lkuty commented on #83
I have the same problem with the file TLAToolbox-1.5.8-macosx.cocoa.x86_64.zip (2019-04-20 01:52) in the nightly builds and here is what I had to do to be able to launch it :
`xattr -cr /Applications/TLA+\ Toolbox.app`
I did not have the problem when I first downloaded the nightly build 1 or 2 weeks ago.

[2019-04-20 07:52] rw commented on #249
@lemmy I got much farther in the build process due to your recent commit. Thanks! The next whackamole issue is this:

[code]

[2019-04-20 14:16] lemmy commented on #249
I believe this is caused by an outdated jvm. Please try upgrading to the most recent jvm release if you happen to be on an older one. If that's not the case, please attach the complete maven log.

[2019-04-20 14:19] lemmy commented on #83
@lkuty If possible, please narrow down the nightly version of when it last worked without setting xattr.

[2019-04-21 00:45] japgolly opened #277 "TLC should return a non-zero exit status when model fails"
Currently TLC returns 0 when a model check completes with failure.

In my case, a have a few quick models I run in succession and I'd like to have my script stop on the first failure, rather than me being overwhelmed with failure after failure. Without an indicative exit status, callers are unable to determine the model result.

[2019-04-21 00:50] japgolly opened #278 "Unable to compile with Java 1.8"
Checking out the project and simply running `mvn test` or even `mvn compile` takes ages (due to snapshots) and inevitably fails with the error below.

I've looked at all documentation I'm aware of in the repo and nothing explains how to build this. I'm not very interested in the eclipse stuff, more in building TLC and tlatools.jar. This is a barrier for considering contributing at the moment, coul

[2019-04-21 01:12] japgolly commented on #278
Oh and btw, I've tried with 3 Java JDKs:
* OpenJDK 8 1.8.0_212
* Oracle JDK 1.8.0_202-b08
* Graal VM rc15

[2019-04-21 01:16] lemmy commented on #278
Please switch to a Java 11 VM.

[2019-04-21 03:03] lemmy commented on #277
What do you actually mean by "model fails"?

[2019-04-21 03:13] quaeler commented on #276
The more i think about this, the more this seems like a poor thing to put in the Eclipse preferences modal. Both from a shared code perspective, and from a UI perspective, given the number of potential Widgets the user could set.

Perhaps instead we should have a UI item in the "How to Run" section which is "this is my default configuration, please remember it"

[2019-04-21 03:24] lemmy commented on #278
The ["iron fist of maven"](https://maven.apache.org/enforcer/maven-enforcer-plugin/index.html) is now in charge to verify the correct Java version.

[2019-04-21 03:24] #278 closed

[2019-04-21 06:15] japgolly commented on #278
Ah thank you, I didn't think to try Java 11

[2019-04-21 06:17] japgolly commented on #277
I mean the model checker finds a behaviour that violates an invariant.

[2019-04-21 06:57] rw commented on #249
@lemmy Got it working with master and JDK 11, thank you for all of your help?

[2019-04-21 13:34] AmirHossein-SayyadAbdi opened #279 "Deleting a model results in NullPointerException"
When there are 2 models (model_1 and model_2), if I delete model_2 it will stay on the spec explorer tree, and when I click on it the toolbox throws a java.lang.NullPointerException exception.

If I exit the toolbox and then run it again, problem is fixed and model_2 is gone.

[2019-04-21 23:20] lemmy commented on #9
LL: "The reason we want restore is that a trace expression may produce an error that prevents the entire trace from being displayed.  Also, having looked at the trace with the added expressions, you might want to go back to looking at the original trace but don't want to change the trace expressions because you might want to use them again after the next model checking run. "

[2019-04-21 23:22] lemmy commented on #279
@AmirHossein-SayyadAbdi What OS are you on and is this a reproducible or an intermittent bug?

[2019-04-21 23:25] lemmy commented on #277
https://github.com/tlaplus/tlaplus/blob/master/tlatools/src/tlc2/output/EC.java already maps all errors and failures to integers.  It shouldn't be too difficult to set the actual EC integer as TLC's exit value. @japgolly Do you have the bandwidth to work on this?

[2019-04-22 05:45] lkuty commented on #83
It might be the one published on 15 April. I do not have it anymore but I started downloading TLA+ stuff (articles, videos, ...) on that date, so I guess I also took the toolbox that day. So the problem appeared between the 15 and the 20.

[2019-04-22 08:30] AmirHossein-SayyadAbdi commented on #279
@lemmy I am using Windows version of the toolbox and the bug is reproducible.

[2019-04-22 21:17] #279 closed

[2019-04-22 22:15] quaeler commented on #211
When you say 'foreign specs' do you mean other specs listed in the Spec Explorer, or do you mean a spec found via a file-open-dialog, or ?

[2019-04-22 22:17] lemmy commented on #211
Let's limit it to specs previously added to the Toolbox.

[2019-04-23 22:47] japgolly commented on #277
I'd be happy to do this. I'm a bit busy though so it might take 2 or 3
weeks to get time, but if you don't mind that delay, leave it with me.

On Mon., 22 Apr. 2019, 9:25 am Markus Alexander Kuppe, <
notifications@github.com> wrote:

[2019-04-24 03:26] lemmy commented on #277
@japgolly Looking forward to the pull request.

[2019-04-24 21:31] lemmy opened #280 "Sign Toolbox for macOS to remove the "unidentified developer" warning"
The macOS TLA Toolbox app is not properly signed.  Depending on the macOS' settings the Toolbox either [does not start at all](https://github.com/tlaplus/tlaplus/issues/83) or the user has to manually "whitelist" the TLA Toolbox app:

<img width="804" alt="Screen Shot 2019-04-24 at 2 25 00 PM" src="https://user-images.githubusercontent.com/88777/56694966-d2dad980-669c-11e9-952a-655e41e448db.png">

[2019-04-25 18:43] quaeler opened #281 "New model shows single page"
Creating a new model should present a model editor featuring a single page (which is the general content of the current 'Overview' page.)

[2019-04-25 18:46] quaeler opened #282 "Break advanced options page into two closable pages"
The current Model Editor's 'Advanced Page' should have the advanced TLC configuration removed to its own page; both of these pages should be closable and will be opened from appropriate text hyperlinks found on the 'Overview' page.

[2019-04-25 18:49] quaeler opened #283 "Move memory slider and worker spinner from How to run to Advanced"
Move the memory slider and the worker spinner from the Overview page's "How to run?" section to the new Advanced page (see #282). When selecting a choice from the pulldown, text should be supplied which lists what this means in terms of worker and memory count (e.g "4 workers & 8192 MB allocated to TLC")

[2019-04-25 19:04] quaeler opened #284 "Condense the General section of the Results page"
To whit:
* start and end time along with an icon representation of 'currently running', 'not running', etc should be on a single line
* if depth first searching was done, show appropriate verbiage
* if checkpoints exist, show appropriate verbiage
* if execution was done in simulation mode, show appropriate verbiage
* have a problems section encompassing: errors, fingerprint collision, 0 count in c

[2019-04-25 21:47] quaeler opened #285 "Allow fingerprint collision probability threshold preference"
Allow the user to define the threshold at which they would like to be warned concerning the probability of fingerprint collision (a warning which will appear on the Results page - see #284)

[2019-04-25 21:52] quaeler opened #286 "Improve section layout space consumption"
The sections in the Model Editor pages should consume available space - like the Required dependency section of the Eclipse Manifest Editor.

[2019-04-25 22:09] quaeler opened #287 "Store open tabs list with model save"
Once #282 is implemented there will no longer be a single standard tab set; store the opened tab list so that re-opening a model can correctly restore the configuration.

[2019-04-25 22:11] quaeler commented on #281
Running TLC will then display the 'Results' tab. When the run has completed, the profile tab will then also be added (but not brought to the top of the stack.)

[2019-04-25 22:15] quaeler opened #288 "Experiment with ECE placement and configuration"
Experiment with ECE potentially being on its own tab; also, consider providing a widget which drops the execution in and out of 'no behavior spec' mode.

[2019-04-25 22:18] quaeler opened #289 "Allow error stack traversal via arrows to be reflected in the spec"
In the TLC Error View, the user can navigate through the stack trace tree with error keys but this doesn't change the highlighted line in the spec; the line should be updated to reflect the currently selected stack item.

[2019-04-25 22:21] quaeler opened #290 "Help windows should not float at modal level"
The help text window which is opened is displayed at modal level; this is not ideal.

[2019-04-25 22:32] quaeler opened #291 "Zero count coverage lines should show indicators in the editor error bar"
When TLC has detected zero count coverage for code, the toolbox should display an indicator for the line in the spec editor's error bar. The error message displayed in the General section as part of #284 should move the spec editor to the top of the part stack when clicked on.

[2019-04-25 22:33] quaeler opened #292 "Change coverage table from Results statistics to only uncovered expressions"
Remove the coverage table from the Statistics section of the Results page; warnings of zero count coverage will be displayed as part of #284 and their association to the spec will be handled via #291

[2019-04-25 22:35] quaeler opened #293 "Investigate presenting state statistics in graph form initially"
On the Results page of the Model Editor, in the Statistics section, consider showing a graph instead of the table, with checkbox widgets to show/hide the graph lines for each attribute, and a button to show the current tabular data in a dialog.

[2019-04-25 22:36] quaeler opened #294 "M1+N should be a key map for Add New Spec"
We should map the action for 'Add New Spec...' to the keybinding of M1+N

[2019-04-25 22:39] quaeler opened #295 "Investigate why PDF4Eclipse isn't used on Mac"
The PDF viewer on Mac doesn't use the PDF4Eclipse plugin; investigate why and convince it to.

[2019-04-26 05:10] lemmy commented on #295
http://discuss.tlapl.us/msg01385.html

[2019-04-26 05:16] lemmy commented on #293
[Eclipse Advanced Visualization Project](https://projects.eclipse.org/projects/science.eavp)
[SWTChart](https://projects.eclipse.org/proposals/eclipse-swtchart)

[2019-04-26 05:21] lemmy commented on #292
The TLACoverageEditor in commit 881f2e676d9f99c329f621790d2151438448761f annotated uncovered actions with a org.eclipse.jface.text.source.AnnotationPainter.

[2019-04-26 05:24] lemmy commented on #281
* For snapshots the Result Page has to be there when the Model Editor opens up
* The profiler tab will not open up unless coverage and cost statistics are collected

[2019-04-26 05:28] quaeler commented on #281
Agreed * 2 - when i write "New Model" i mean either right clicking on "models" in the Spec Explorer, or choosing the item under the "TLC Model Checker" menu bar folder.

[2019-04-26 17:29] lemmy commented on #294
M1+N currently opens Eclipse's new wizard from where (since recently) it is possible to create a new TLA+ specification.  However, the new wizard also offers to create a bogus "General" section which should be removed.  Ideally, M1+N would also be context sensitive and offer to create a spec or a model depending on the Spec Explorer's current selection.

[2019-04-26 17:32] lemmy commented on #289
Related/to be addressed with https://github.com/tlaplus/tlaplus/issues/9

[2019-04-26 17:35] lemmy commented on #9
https://github.com/tlaplus/tlaplus/issues/289

[2019-04-26 17:38] lemmy commented on #288
A preference could allow users to switch between the ECE on the Result Page and a dedicated tab.  It would probably make sense to split the "TLC model checker" preference page into a TLC related and a Model Editor related page.

[2019-04-26 17:39] lemmy commented on #286
Can you please be more specific what this issue is about?

[2019-04-26 17:44] lemmy commented on #285
How do we expect users to come up with a reasonable threshold?  Instead I wonder if the Model Editor should display a warning (somewhere) that gradually increases its visibility (low probably is green, high probability is red).

[2019-04-26 18:34] quaeler commented on #286
Sorry - for example on the current Results page, were one to collapse all sections except for User Output, the text area in the User Output section should grow vertically to, ideally, consume all available space in the viewport.

[2019-04-26 18:37] quaeler commented on #285
This is an excellent question (this issue has its genesis in what i guessed to be Leslie's thought in that Model Editor design thread - so i'm just parroting for the description.)
Once we agree on ranges that represent 'low' to 'high,' i think the color mapping is the preferred way to go.

[2019-04-26 18:53] lemmy opened #296 "Warn when PlusCal and TLA+ transpilation diverge"
Problem
-----------
The Toolbox workflow involving PlusCal and TLC consists of the following steps:

1. Modify PlusCal
2. (Automatically) Transpile to TLA+
   (Optionally) go back to 1.
3. (Optionally) modify TLA+
4. Run TLC
5. Rinse and Repeat

If a user accidentally misses step 2. before finally running TLC, model checking produces surprising/unexpected results. Thus, TLC (Toolbox) should raise

[2019-04-26 19:03] lemmy commented on #296
This feature might help with #157

[2019-04-28 11:45] lemmy commented on #281
Additional requirement: it should be possible to create and configure a "standard" model with the keyboard only where standard means no settings on the advanced pages.

[2019-04-29 21:40] cpacejo opened #297 "error when NEXT action references variable through instantiated module"
Given these two modules:
[code]
[code]
and this configuration:
[code]
running `tlc2 A` produces this error:
[code]
Replacing the definition of `Next` in `A` with `Next == UNCHANGED x` behaves as expected.

Am I misunderstanding that these should be equivalent?

Testing with TLC version 2.13.

[2019-04-30 03:58] lemmy opened #298 "TLA+ Syntax Parser throws java.util.ConcurrentModificationException"
![Screenshot from 2019-04-29 20-57-55](https://user-images.githubusercontent.com/88777/56940168-812db700-6ac1-11e9-887b-a8587c4a710a.png)

[code]

Caused by:

1. Model Editor with a TLACoverageEditor is open (the TLACoverageEditor has a org.lamport.tla.toolbox.spec.parser.IParseResultListener registered with org.lamport.tla.toolbox.spec.parser.ParseResultBroadcaster)
2. User hits "Run TLC on the m

[2019-04-30 05:27] lemmy commented on #297
@cpacejo To clarify: TLC's nightly builds still reports ```2.13``` as version. Please indicate the exact version including ```rev``` printed during TLC startup, e.g.: ```TLC2 Version 2.13 of 18 July 2018 (rev: f875292)```.

[2019-04-30 14:31] cpacejo commented on #297
I first discovered this with revision bfdbe00, but the issue is still present on the latest master (398eb12).

[2019-04-30 14:45] lemmy commented on #297
Probably goes back to the beginnings, at least to ```TLC2 Version 2.05 of 23 July 2013```

[2019-04-30 21:53] lemmy commented on #298
@quaeler Can you please review my analysis above and indicate agreement?

[2019-04-30 22:44] quaeler commented on #298
Yep - looks like sound reasoning and agree on the easiest fix.

[2019-05-01 01:01] #298 closed

[2019-05-01 17:18] quaeler opened #299 "We should provide single file import and export"
In my experience interacting with the KNIME community on both sides of the fence during the past several years, i've come to appreciate how useful it is for a user to be able to provide all of their work as a single file (for attaching to forum posts, for submitting through email, etc.)

I think it would be good were we to provide in the Toolbox:
* an export to single file which wrapped up the mai

[2019-05-01 17:36] lemmy commented on #299
Some of this functionality (imports from zips) has recently been introduced as part of #223 but neither documented nor actually exposed to the user.  Export should be trivial because it is just an archive of the spec directory optionally excluding files/folders.  Possibly related work:

- How to version control a spec directory excluding irrelevant files/folders #157
- How to better support TLA+ i

[2019-05-01 19:37] lemmy commented on #297
LL: "This is a problem that I've encountered before.  Its source is that TLC isn't recognizing x' = 0 in this context as being an "assignment" to x, but thinks it's an expression whose value it should compute.  It produces the same error with f == <<x>> and all of the following

(1)  Next == f'[1] = x
(2)  Next == f' = <<x>>
(3)  Next == f' = f
(4)  Next == <<x>>' = <<x>>
(5)  Next == <<x'>> = <<x

[2019-05-04 20:21] quaeler commented on #9
Instead of up/down buttons, the formulas table now allows drag re-ordering - f7efdd943aa029a7cc547f56ef90a3bdef98d7a7

[2019-05-04 21:34] lemmy commented on #9
Add a hint "drag to reorder" somewhere?

[2019-05-07 12:41] yiskax opened #300 "Unable to open toolbox on windows, eclipse error"
When opening toolbox.exe, it says an error occured. The configuration is below.

I tried TLA 1.5.7 & 1.4.5.
Java(TM) SE Runtime Environment 18.9 (build 11.0.2+9-LTS)

[2019-05-07 14:54] lemmy commented on #300
@yiskax Please try with a recent [nightly build](https://nightly.tlapl.us).

[2019-05-07 15:54] lemmy opened #301 "Hide TLAPS related (context) menus if not installed"
The Toolbox shows TLAPS items in the editors context menu and the menu bar. Unless TLAPS has been installed, there is no point in confusing the user with these items.

[2019-05-07 20:42] lemmy opened #302 "Tautological liveness property causes IllegalArgumentException"
[code]

[code]

[2019-05-07 21:51] quaeler commented on #9
Trace Exploration has a sash - b8331199017d2ea6c569ff280a09cd7e4b017120

[2019-05-07 22:41] quaeler commented on #9
Drag re-order hints - 4333a1e680bd4e37fc7ec683910d8f273968d12c

[2019-05-07 22:42] quaeler commented on #9
Explore observes formula enablement checkboxes now - 7b355a263e288d3b6ff9811134479d910883c71f

[2019-05-07 23:43] #302 closed

[2019-05-08 08:03] #300 closed

[2019-05-08 15:36] lemmy commented on #300
@yiskax Please share what worked for you.

[2019-05-08 15:55] lemmy commented on #191
@will62794 More and more reports come in from users having issues with the 1.5.7 Toolbox release due to JVM incompatibilities.  This forces us to release a new Toolbox soon.  What is your time frame for a first pull request for animator?  Ideally the next release would include the animator or a preview of it.

[2019-05-08 16:25] yiskax commented on #300
@lemmy The nightly build version works, without downgrading Java.
Thanks a lot!

[2019-05-08 17:49] quaeler commented on #9
With the deletion of selected formula in the focused table via Delete or Backspace ( b954444c9bac490bd1131261a9f3e85bd82a382b ) i believe this issue is now closed; please reopen if i'm incorrect.

[2019-05-08 17:49] #9 closed

[2019-05-08 22:37] quaeler commented on #289
Closed with 14ce7a6fcf12b682c72620bf2efc4125700ef76f

[2019-05-08 23:17] lemmy commented on #289
Can this be turned on and off?

[2019-05-08 23:20] quaeler commented on #289
No - from our talks i didn't understand it to be "it would be nice for some people" but rather "the behavior should be this."
Feel free to re-open to make this a preference-driven function.

[2019-05-08 23:42] lemmy commented on #289
It actually just occurred to me. :-)

Instead of a preference, why not simply add a button to the error trace view (next to the expand/collapse button) similar to the Eclipse Package Explorer's *Link with Editor* functionality?

![Screenshot from 2019-05-08 16-41-29](https://user-images.githubusercontent.com/88777/57415205-275b7a00-71b0-11e9-9aaf-2bf11fcd3b33.png)

[2019-05-09 00:00] quaeler commented on #289
Sounds good - does the double-click observe this toggle button's state as well? (It would seem hinky to me were it to not...)

[2019-05-09 00:02] lemmy commented on #289
Are you asking if double-click becomes a no-op when *link to editor* is off?

[2019-05-09 00:02] quaeler commented on #289
Yes.

[2019-05-09 00:05] lemmy commented on #289
To me a double-click is an intentional user action indicating the wish to navigate to the source. A selection change on the other hand does not always indicate this wish (unless *link to editor* is on).

[2019-05-09 00:10] quaeler commented on #289
Ok - i'll buy that.

[2019-05-09 09:50] AmirHossein-SayyadAbdi opened #303 "Toolbox does not highlight enclosing brackets, parentheses, etc."
Eclipse IDE used to highlight enclosing brackets and parentheses (in Java editors, for example).
It would be a huge help if we could have the same capability for the toolbox.

By highlight, I mean some form of notifying the user about the location of enclosing/opening parentheses and brackets when she points the cursor on a parenthese or bracket.

[2019-05-09 10:00] AmirHossein-SayyadAbdi commented on #303
Other Eclipse editor capabilities such as the following will also be really helpful:

1. Auto-complete,
2. Highlighting occurrences of identical identifiers (variable names, for example),
3. Refactoring (changing the name of a variable across the entire document file).

These capabilities can make life much easier.

[2019-05-09 14:10] lemmy commented on #303
@AmirHossein-SayyadAbdi  We would very much like the Toolbox to have these features. Do you have the capacity to provide a patch/pull request?

[2019-05-10 00:11] will62794 commented on #191
@lemmy I know this has been quite delayed. I have a patch in progress that is getting close to something that could be put up for an initial PR, but I also don't want to hold up the next Toolbox release if it's urgent. If I had a patch ready for review within the next 2 weeks, even if it presented a "beta" version of the animator feature, would that be acceptable for your release timeline?

[2019-05-10 00:23] lemmy commented on #191
A beta in two weeks would be great.  How much risk of breaking existing functionality do you think comes with the patch?

[2019-05-10 00:26] will62794 commented on #191
From what my current implementation looks like, I think the changes should be relatively isolated, without much risk of breaking any existing functionality. Ideally the changes will have no impact for users if they don't choose to use the feature. I will keep the "blast radius" in mind, though, as I continue to work on this.

[2019-05-10 11:23] AmirHossein-SayyadAbdi commented on #303
I'm afraid I do not have the necessary familiarity with Eclipse platform to provide a patch/pull request.

[2019-05-11 21:36] quaeler commented on #289
This is implemented with 12790ae4c494c09dba8754b227ab48a5a3051697

[2019-05-11 21:36] #289 closed

[2019-05-13 18:51] lemmy opened #304 "Bogus error message when checking a specification with temporal existential quantification"
As [reported on the Google group](https://groups.google.com/forum/#!msg/tlaplus/bcP4VLhR9zY/lxhhtPdPAgAJ):

"[...] the specification from module BoundedFIFO is defined as

\EE q : Inner(q)!Init /\ [][BNext(q)]_<<in,out,q>>

and TLC does not support \EE, i.e. quantification over state variables. (I agree that the error message is not ideal.)"

[code]

[2019-05-13 21:35] quaeler opened #305 "Initial Predicate selection in the Trace Viewer jumps to no location"
Double-clicking (or single clicking / arrow-traversing in linked mode) on the 'Initial Predicate' state in the Error View's trace viewer does not highlight the correct (or any) location in spec editor of the associated specification.

[2019-05-14 22:02] lemmy commented on #277
@japgolly Do you still intend to provide a PR?

[2019-05-14 22:43] lemmy opened #306 "Continuous integration story for TLC model checking"
Today's development teams follow the practice of [continuous integration (CI)](https://en.wikipedia.org/wiki/Continuous_integration).  This trend is fueled by a plethora of (for-free) cloud services such as [TravisCI](https://travis-ci.org/), [Azure Pipelines](https://azure.microsoft.com/en-us/services/devops/pipelines/) or self-hosted automation servers such as [Jenkins](https://jenkins.io/). The

[2019-05-15 17:32] #295 closed

[2019-05-15 17:40] lemmy commented on #288
Stretch goal for 1.5.8

[2019-05-15 18:05] #147 closed

[2019-05-15 18:20] #174 closed

[2019-05-15 18:26] lemmy commented on #280
@lemmy handles Jenkins end, Loki handles xcode/cmd-line (ideally this is done by the maven build though)

[2019-05-16 14:58] cipher1024 commented on #306
Little note: for interactive provers such as Lean, using Travis has been quite useful and it works right out of the box.

[2019-05-16 15:12] lemmy commented on #306
@cipher1024 Thanks for note. Do you have a link?

[2019-05-16 15:47] cipher1024 commented on #306
Certainly: https://github.com/leanprover-community/mathlib/blob/master/.travis.yml

I must add though that model checking and interactive theorem proving, in CI, have the dual problem from each other. With interactive proving, we struggle to find a proof, we write a proof and once it's written it's quite easy to verify. We still run into performance issues but on the whole, the user takes care of

[2019-05-17 03:22] will62794 commented on #191
### WIP Patch
Hi @lemmy. The trace animator patch is not quite ready for review yet, but if you want to take a look at the current progress and try it out, you can check out my dev branch [here](https://github.com/will62794/tlaplus/tree/trace_animation). For now, the `Animation.tla` module must be manually added to a spec that is currently opened in the Toolbox. You can use [this](https://gist.git

[2019-05-17 06:13] lemmy commented on #191
@will62794 This sounds great.  May I ask you to record a quick'n'dirty screencast to demo the functionality (unless the functionality (UI) is self-explanatory)?

[2019-05-17 23:51] japgolly commented on #277
Hi @lemmy, sorry for the delay; I've been busier (and sicker) than I expected. I've got some free time today, I'm going to take a look at this now.

[2019-05-18 00:40] japgolly commented on #277
@lemmy are you perhaps currently online such that we could have a quick chat? If so would you mind DM'ing me on twitter?

[2019-05-18 00:42] #280 closed

[2019-05-18 00:43] lemmy commented on #280
http://nightly.tlapl.us/products/

Still missing for the release build though but I'm now considering changing all builds to [pipelines](https://jenkins.io/doc/book/pipeline/).

[2019-05-18 00:50] lemmy commented on #277
@japgolly What's your twitter handle?

[2019-05-18 00:52] japgolly commented on #277
@lemmy It's `@japgolly` :)

[2019-05-19 01:13] japgolly opened #309 "CostModel lookup failures related to LazyValue"
I built `master` locally, launched the Toolbox, ran the model checker and I'm seeing an overwhelming amount of new errors that aren't present in 1.5.7, (so many errors that the Toolbox becomes near unusable due to 30+ sec lag in UI-response time).

Short sample:

[code]

The full spec I'm running is here:

https://github.com/japgolly/learning/blob/master/talks/tla+/project.tla

An accompanying mod

[2019-05-19 01:42] will62794 commented on #191
Sure, I can include a brief screencast. Also, is there a way to run the full suite of Toolbox tests from the command line? I have run the TLA+ tools test but I don't believe I have tried out the Toolbox test suite. Additionally, do the Toolbox tests run in the CI system?

[2019-05-19 02:03] quaeler commented on #191
You can do a `mvn clean verify` which will do the whole shebang.

[2019-05-19 23:33] lemmy commented on #309
https://github.com/tlaplus/tlaplus/commit/323954bc590feeed8d5c59379aa1633ca6b620ad addresses the Toolbox slow-down.  The actual bug will be addressed in separate commits.

[2019-05-19 23:53] #309 closed

[2019-05-21 00:04] quaeler commented on #282
Addressed with d25145a85141710726e831117bd479db90795b22

[2019-05-21 00:04] #282 closed

[2019-05-21 00:04] quaeler commented on #287
Addressed with 294a07038954572b4a117a1d4e3e955fbbeaf761

[2019-05-21 00:04] #287 closed

[2019-05-21 00:07] will62794 opened #311 "Eclipse IDE intermittently fails to resolve dependencies properly when developing TLA+ Toolbox"
When developing the TLA+ Toolbox in Eclipse (having followed [this](https://github.com/tlaplus/tlaplus/tree/ee2f998471504a0ded1372cf32b412ffa002059a/general/ide) setup guide), I sometimes end up in a case where Eclipse is suddenly unable to find the proper dependencies for the project e.g.

<img width="1440" alt="Screen Shot 2019-05-20 at 8 03 41 PM" src="https://user-images.githubusercontent.com/

[2019-05-21 00:08] lemmy commented on #311
@quaeler Do you observe similar behavior (I don't on Linux).

[2019-05-21 00:15] quaeler commented on #311
I don't on the same version of macOS - but i do avoid having Eclipse running when i do maven builds as i've seen Eclipse have workspace problems if it's running concurrently.

I also avoid having Oomph run its setup tasks at startup as it has historically produced headaches.

[2019-05-21 00:21] lemmy commented on #311
I cannot confirm either of those two behaviors.

[2019-05-21 16:32] lemmy commented on #195
There appears a regression (see screencast).

1. Add  additional path to library locations (Preferences > TLA+ preferences) with module M
2. Create a spec with name M
3. EXTENDS M in M (leads to error)
3. Delete spec M
4. Restart Toolbox
4. Create new spec with name N (reusing directory of M)
5. Behavior as shown in the screencast

![deletespec](https://user-images.githubusercontent.com/88777/5811

[2019-05-22 19:04] quaeler commented on #283
Implemented with 5eae39e59c287f32f3bc34c1ed0ac1f20a88bfee

[2019-05-22 19:04] #283 closed

[2019-05-22 19:17] quaeler opened #312 "Resolve conflict between library path and equivalent named module in CWD"
Originally brought up [here](https://github.com/tlaplus/tlaplus/issues/195#issuecomment-494464869) if a user has a directory on their Toolbox's Preferences' Library Path with a module named X, and they also have a module named X in their spec's working directory, when referencing that module in the spec text (e.g `EXTENDS X`), the Toolbox will choose to import the module in the working directory -

[2019-05-22 19:17] quaeler commented on #195
Opened #312

[2019-05-22 20:48] lemmy commented on #283
Would it be possible to append the actual values such as "3 workers allocated..." to the combo itself?

[2019-05-22 20:50] quaeler commented on #283
sure - we have horizontal space to kill on that widget - will do

[2019-05-22 20:51] lemmy commented on #283
Please pull the repo because I just committed a potentially conflicting change.

[2019-05-22 20:53] quaeler commented on #283
yes - when i get back to doing this, i will sync my fork to master and then branch off my fork to do work.

[2019-05-23 02:36] hwayne commented on #134
The following two pluscal specs show the same error on 1.5.7:

[code]

[code]

Replacing `then` with `then;` does not cause the bug.

[2019-05-23 02:39] hwayne opened #313 "PlusCal translator silent failure"
This is the same issue as #134, except in two other distinct cases. This is on 1.5.7:

[code]

[code]

Replacing `then` with `then;` does not cause the bug.

[2019-05-23 03:27] inieves commented on #179
Hi @lemmy ... i have finally gotten some more time to look into this, and made all necessary updates to my dev environment to be able to experiment and test...

The request for improved error reporting for evaluating constant expressions means that (in my opinion) we want to show a stack trace if/when an error occurs within evaluation of a constant expression.

The evaluation of constant definitio

[2019-05-23 04:24] lemmy commented on #179
@inieves Can you attach a patch to fix manbansa's scenario.  Running it on the test suite might help us better estimate the risk.

[2019-05-23 05:16] inieves commented on #179
@lemmy I can see if a simple fix (patch) is possible.  My initial thought was that there was not a simple fix, and that some discussion would make sense before making larger changes.  If I can’t make a simple fix/patch, I will let you know.

[2019-05-23 18:59] #313 closed

[2019-05-23 21:32] inieves commented on #179
@lemmy I can see that manbansa's original definition of Max(s) did not have the effect that he intended, but it seems to be valid TLA+ in the sense that no exceptions are thrown during parsing.  Yes it is a silly expression, but does that sillyness alone make it invalid TLA+ (and thus an error)?

I have found that in the file SemanticNode.java there is mention of a System Property (in the method t

[2019-05-24 16:38] lemmy commented on #179
@inieves I think what we really want is ECE to report the same error that ordinary model checking produces.

[2019-05-24 20:38] inieves commented on #179
![Screen Shot 2019-05-22 at 5 21 05 PM](https://user-images.githubusercontent.com/656250/58353835-6b8f8100-7e24-11e9-8293-fbf19371b9ac.png)

@lemmy I have attached a screenshot of the error that ordinary model checking produces.  If you look closely, you can see that an error occurs because fingerprinting fails.  But in the case of evaluation of constant definitions/expressions, there is no finger

[2019-05-24 23:57] inieves commented on #179
hi @lemmy the simplest patch is to change SetPredValue.java:305-311 from:

`
try {
        if (TLCGlobals.expand) {
          Value  val = this.toSetEnum();
          return val.toString(sb, offset);
        }
      }
      catch (Throwable e) { /*SKIP*/ }
`

to just:

`
      if (TLCGlobals.expand) {
          Value  val = this.toSetEnum();
          return val.toString(sb, offset);
        }
`

[2019-05-26 12:02] toastedcornflakes commented on #157
To address "PlusCal translation modifies its own source file", I wrote a [quick bash script that integrates with git](https://github.com/toastedcornflakes/tla-git-support) to avoid committing any pluscal translations. Feedback welcome!

[2019-05-26 17:03] lemmy commented on #157
@toastedcornflakes Can you please elaborate on/describe the problems you are seeing when committing the TLA+ transpilation to the repository?  I'd like to better understand the problems we are trying to address here (especially in the context of #306).  Do you have experience with writing specifications in TLA+ or are you a "Pluscal-only" user?

[2019-05-26 17:41] toastedcornflakes commented on #157
I'm a new user evaluating if TLA+/pluscal can help with system design, so no real usage for now. I don't want the translated TLA+ to go out of date from the pluscal code by accident.

Completely stripping the translation achieves this.

[2019-05-26 17:56] tokenrove commented on #157
@toastedcornflakes nice idea; I'll try it.  BTW, one can achieve the same effect as the bash script with a sed oneliner: `sed '/^\\\* BEGIN TRANSLATION$/,/^\\\* END TRANSLATION$/d'`

[2019-05-26 18:11] toastedcornflakes commented on #157
Thanks, good catch @tokenrove

[2019-05-28 14:57] lemmy opened #314 "Cost model lookup failure with definition overrides from instantiated modules"
[code]

This is related to instantiation, and  definition overrides of operators in the instantiated module.

[code]

[code]

Model override of ```Nat[Naturals]``` with ```0..1``` (not just ```Nat```).

(In the context of #315 and #316)

[2019-05-28 15:51] lemmy opened #315 "Definition override shows Nat two times when spec uses instantiation"
This is not a regression (same behavior in v1.5.7).

------

![image001](https://user-images.githubusercontent.com/88777/58488624-89a7fa80-811e-11e9-8cfc-a3f58e513452.png)

It appears that the second Nat is actually F!Nat imported from FIFO by the INSTANCE statement.  If I override the first one, I see:

![image002](https://user-images.githubusercontent.com/88777/58488625-89a7fa80-811e-11e9-960d-2

[2019-05-28 16:45] lemmy opened #316 "Definition override disappears from advanced page"
If I select these overrides:

![image007](https://user-images.githubusercontent.com/88777/58495710-fde99a80-812c-11e9-8087-d2abe04ef7e7.png)

and then  click on Next <- TRUE I get this

![image005](https://user-images.githubusercontent.com/88777/58495712-ff1ac780-812c-11e9-877b-4ba1ac26f3e8.png)

At this point, nothing I do can get the window to show the right thing except selecting

the Next <- T

[2019-05-28 18:39] lemmy commented on #316
Not reproducible with v1.5.7

[2019-05-28 23:09] #314 closed

[2019-05-29 18:47] lemmy commented on #179
Thanks @inieves for spotting the silently discarded exceptions.

[2019-05-29 18:47] #179 closed

[2019-05-29 22:44] lemmy commented on #316
Both elements were likely in the list but the list's height is too small and the scroll indicator easy to miss.

[2019-05-29 22:49] #315 closed

[2019-05-30 16:14] lemmy commented on #316
@quaeler Can you please change the advanced model page to use a layout that makes better use of screen estate?

[2019-05-31 04:50] #277 closed

[2019-06-01 04:30] lemmy opened #317 "Bogus undefined identifier error when fairness condition does not completely specify successor state"
```UNCHANGED b``` is at the ```Next``` level but ```Spec``` declares (weak) fairness on the sub-action  ```disj```.  At the ```disj``` level, the successor state is not completely specified though.

[code]

[code]

[2019-06-02 18:28] quaeler commented on #316
Addressed with 2ea44638a2c80f736a22f3fcee9b784ca1881b27

[2019-06-02 18:28] #316 closed

[2019-06-03 04:31] Alexhb61 opened #318 "PCal: Unrecoverable Error with blank info"
I think the PCAL translator can't handle a certain type of newline character, but the IDE displays this newline as normal. This error is very confusing. I started writing my tla spec in another editor which might be why the error wasn't detected earlier.

[2019-06-03 04:32] lemmy commented on #318
@Alexhb61 Can you attach the spec?

[2019-06-03 05:15] Alexhb61 commented on #318
I was able to recreate the bug with this code
`---- MODULE error ----
EXTENDS Naturals, TLC

(* --algorithm transfer
variables alice_account = 10, bob_account = 10, money = 5;

begin
A: alice_account := alice_account - money;
B: bob_account := bob_account + money;

end algorithm *)
====
`

[2019-06-03 16:54] lemmy commented on #318
@Alexhb61 GitHub seems to screw up whitespaces.  Can you attach a zipped snapshot of the spec?  Also, what error does the PCal transpiler print?

[2019-06-03 20:24] quaeler commented on #284
@lemmy please give feedback on the reduced result available with 0e14c2bf208955caed83a357be724ed5b8a92e08

[2019-06-03 22:18] quaeler commented on #288
I'm not sure it makes sense to split up the preference page - there's not much there now, and if we split it out, the resulting TLC-specific page would have only two items (the ones not highlighted in this ss)

<img width="638" alt="model_checker_preference_page" src="https://user-images.githubusercontent.com/22581048/58838160-c722f100-8612-11e9-8560-1ce9357bdf5e.png">

[2019-06-03 22:27] lemmy commented on #288
Lets leave it as-is for now.

[2019-06-03 22:31] lemmy commented on #284
How does a user e.g. learn about the mode (BFS, DFS, SIM) once model-checking completed?

[2019-06-03 22:35] quaeler commented on #284
BFS is not mentioned as it's the default mode; either of the other two should be rendered in the top line, running or not (like seen in that GIF i emailed to you concerning sub-tab traversal.)

[2019-06-05 17:34] lemmy commented on #318
Assumed to be fixed with abd5181ad3a94588998ddb2243e4d3122cd2b8be

[2019-06-05 17:34] #318 closed

[2019-06-07 00:04] quaeler opened #319 "Update Help topics"
The following help topics need to be modified to capture changes present in the 1.6.0 release:
* :white_check_mark: If #288 is included: [Preferences panel change](https://github.com/tlaplus/tlaplus/blob/master/org.lamport.tla.toolbox.doc/html/model/executing-tlc.html), [Results page](https://github.com/tlaplus/tlaplus/blob/master/org.lamport.tla.toolbox.doc/html/model/results-page.html)
* :white_

[2019-06-07 14:40] lemmy commented on #319
- TLCProfiler and coverage+cost related UI
- Load library archives (e.g. [CommunityModules](https://github.com/tlaplus/CommunityModules) in addition to library folders

[2019-06-10 02:11] lemmy opened #320 "TLA+ Toolbox can't be opened because Apple cannot check it for malicious software."
<img width="1280" alt="Screen Shot 2019-06-09 at 7 07 59 PM" src="https://user-images.githubusercontent.com/88777/59168271-f8576180-8ae9-11e9-9ef7-67bb20c70fc8.png">

1. Locate ```TLA+ Toolbox``` in ```Applications``` folder in ```Finder```
2. ```Control+Right-Click``` > ```Open``` on ```TLA+ Toolbox```
3. The ```TLA+ Toolbox can't be opened because Apple cannot check it for malicious software.```

[2019-06-10 22:44] lemmy opened #321 "Choose fp index sequentially rather than randomly"
The Toolbox currently chooses - unless given by the user - the fp index randomly.  From a user perspective choosing fp index sequentially (the next one) on each run is easier to deal with.  Assuming polys in FP64 are independent of each other, choosing fp index does not negatively impact the probability of fingerprint collision.

The fact that the same feature cannot be implemented easily for comm

[2019-06-11 03:11] lemmy opened #322 "Bogus warning about symmetry and liveness with"
Bogus warnings is when checking that one spec implements another (temporal formula ```C!Spec```), with no liveness condition.  ```C!Spec``` is a safety property if it consists of or is the conjunction of state formulas or [][...] formulas.

(see Voting/Consensus spec)

[2019-06-11 20:24] quaeler commented on #319
I believe this issue is done? @lemmy?

[2019-06-11 20:35] quaeler opened #323 "TLCModelLaunchDataProvider#hasZeroCoverage() provides incorrect results"
Once a model check has been executed in which zero coverage count was encountered, all subsequent model checks during the Toolbox's lifespan (potentially able to be further restricted to "during the lifespan of the spec being open") will have the instance of `TLCModelLaunchDataProvider` supplied to `modelChanged(...)` methods will continue to return `true` from `hasZeroCoverage().`

[2019-06-11 21:05] lemmy commented on #323
Please describe the user visible effect of this.

[2019-06-11 21:06] quaeler commented on #323
Per the email yesterday - there is none now.

[2019-06-13 16:04] lemmy opened #324 "Split coverage into Action-only and Full coverage"
- [x] Split coverage collection into complete coverage and just action coverage
- [x] Make action coverage Toolbox default
- [x] Result Page table remove counts and only show elements with zero coverage #292
- [x]  Annotate spec/module editor with colored markers on the overview ruler (right hand ruler)
  - Markers are removed at subsequent TLC run
  - https://github.com/tlaplus/tlaplus/issues/292

[2019-06-13 16:07] lemmy commented on #322
about we remove the warning from the model editor completely and instead
warn the user during TLC startup when we have access to the fully parsed
spec and config?

prominently inform users about events during the TLC execution.  This
mechanism could also be used to warn about liveness and symmetry.

[2019-06-13 17:20] lemmy commented on #317
Related bug: https://groups.google.com/forum/#!msg/tlaplus/sqwXukN9uks/llDXuXcjAgAJ

[2019-06-13 17:21] lemmy commented on #324
https://github.com/tlaplus/tlaplus/issues/292#issuecomment-486929521

[2019-06-13 17:22] lemmy commented on #292
Instead of removing the table, the count column should be removed and the all elements filtered with non-zero count.

[2019-06-13 18:01] quaeler commented on #288
This has been implemented; it's been placid for a couple days now so i am closing the issue.

[2019-06-13 18:02] quaeler commented on #78
as agreed with mku in email, there are no specific outstanding issues keeping this open, so i am closing it.

[2019-06-13 18:02] #78 closed

[2019-06-13 18:03] quaeler commented on #49
as agreed with mku in email, there are no specific outstanding issues keeping this open, so i am closing it.

[2019-06-13 18:03] #49 closed

[2019-06-13 18:14] lemmy commented on #288
I suggest to adjust the tab's title from "Evaluate ConEx" to "Constant Expressions".  The "No Evaluation" button should be changed to a check-box called "No Behavior Spec" to be consistent with the main model page.

[2019-06-13 18:18] quaeler commented on #288
Tab title seems fine.

... but the button change makes me flinch; here's the opportunity to introduce some common semantic notions to what seems obscured by "No Behavior Spec".
Yes: NBS is technically correct, but for a user who wants to think in terms of 'will i be evaluating or won't i be evaluating' this synonym replacement feels awkward.

[2019-06-13 18:25] lemmy commented on #288
It is unclear what will be evaluated with "Will evaluate": The ECE expression is in both cases evaluated, the spec with "No Evaluation".  Isn't this then upside-down?

One more thing: With "Will evaluate" and ECE as dedicated tab, running TLC switches to the Result Page.

[2019-06-13 19:16] quaeler commented on #288
Hmm.. the switch to "don't switch to the result page" was addressed previously; will look to see what broke it.

I forgot that the ECE will get evaluated even if it's not NBS; i'll change the button type and text.  (Traditionally a toggle switch reads as what it's current state is, not what it will become when you push it.. in both the real world (a light switch that says off when it's on?) and th

[2019-06-13 20:04] lemmy opened #325 "Support module archives (community contributions)"
See https://github.com/tlaplus/CommunityModules for context.

- [ ] Strings (```join```, ```toJson```, ...) https://github.com/tlaplus/tlaplus/issues/159#issuecomment-509815532
- [x] Binary (```And```, ...)
- [x] Sequences (```IsASet```)
- [x] Packaging format for module overwrites (zip/jar)
  - [x] Load module overwrites from archive in TLC
  - [x] Load module overwrites from archive in Toolbox

[2019-06-13 20:05] lemmy opened #326 "Annotation-based TLC module overrides"
[code]
Stateless Overrides
-----------

- Expose TLC types (? implements IValue) to module overrides?

Stateful Overrides?
---------------------------

- Expose TLC current & next state obj
- constants, definition overrides
- Module override invoked for ```ENABLED```

---------------------

Question/Investigate: Let A be an operator defined in a spec S.  Let A' be an operator override in a model M

[2019-06-13 20:17] quaeler commented on #288
Addressed with c4cde58bcab0b2342b080d247e5f33eb70ad993b - will close this ticket in a couple days if no further issues are raised.

[2019-06-13 21:03] quaeler commented on #292
Are you saying filtered so that the table shows only non-zero count, or filtered so that the table shows only zero count?

[2019-06-13 21:04] lemmy commented on #292
The latter but I've already taken care of this.

[2019-06-13 21:12] lemmy commented on #288
Buttons and labels look good now.  "Switch to Result Page" bug still present if c4cde58 is supposed to fix it.

[2019-06-13 21:49] quaeler commented on #284
Are there any requests for change on the current implementation, or is this closeable?

[2019-06-13 21:50] lemmy commented on #284
Looks good to me and haven't heard complaints from elsewhere.

[2019-06-13 21:51] #284 closed

[2019-06-14 14:25] lemmy commented on #288
```TLA_Functional_ECE_Placement``` has to be updated to the new labels and button change:

[code]

[2019-06-14 18:02] lemmy opened #327 "Bogus "The configuration file substitutes constant CCC with non-constant const_123""
With spec (not limited to):

[code]

And values for declared constants:

![image001](https://user-images.githubusercontent.com/88777/59528556-7b363e80-8e93-11e9-9fd5-8674a0afd00f.png)

TLC produced the following error message:

    The configuration file substitutes constant Edges with non-constant const_1560513294776179000.

Substitution for ```Edges``` (typo) is  ```{n2. n4}```  instead of ```{n

[2019-06-17 19:13] lemmy commented on #292
b3dfe4abf2d80c751f0aea01d80c69d036588161

[2019-06-17 19:13] #292 closed

[2019-06-17 19:14] lemmy commented on #324
1a66e6955b5d55e8bf3555a810a95f58032b1e35

[2019-06-17 19:14] #324 closed

[2019-06-18 18:08] lemmy commented on #124
FWIW a list of related changes/issues:

* Performance of Trace Explorer has been improved e48c1c646050c82faf6bc7adaf2f3cf10f8f0d93
* Model editor can be configured to open ```Evaluate Constant Expressions``` in a dedicated tab #288
* ```_TEPosition``` & ```_TETrace``` built-in operators for Trace Explorer increase expressiveness
* Interesting/Given states of a behavior can be made the new initial

[2019-06-20 16:34] quaeler commented on #288
Marking this issue as closed as i think it is now hashed-out. Please re-open if not though.

[2019-06-20 16:34] #288 closed

[2019-06-20 18:15] lemmy commented on #299
[Eclipse 2019-06](https://www.youtube.com/watch?v=SYqFybeUbeI) appears to have improved import support from the file system.

[2019-06-20 21:31] quaeler commented on #183
Closing this - please reopen if it's still an issue @hwayne

[2019-06-20 21:31] #183 closed

[2019-06-23 16:48] quaeler commented on #165
Addressed with https://github.com/tlaplus/tlaplus/commit/7108517aca8d5f1c9de9ccc2719ac6c90af93c87

[2019-06-23 16:48] #165 closed

[2019-06-23 16:49] quaeler commented on #276
Addressed with https://github.com/tlaplus/tlaplus/commit/ff8530bf2cf6600bd84be8a3c7ea4ec4d5ca6509 and https://github.com/tlaplus/tlaplus/commit/42c62c9ac0b786a7d7e05ae17ca438309bd1eef6

[2019-06-23 16:49] #276 closed

[2019-06-24 03:40] lemmy commented on #211
(LL recently wished for this again)

[2019-06-27 03:43] quaeler commented on #211
@lemmy give e7e653334baf0a89d8ddc10060c777ebb6e7de05 a shot, via:
![Screen Shot 2019-06-26 at 7 59 00 PM](https://user-images.githubusercontent.com/22581048/60232915-f106b680-9852-11e9-813d-f9ed369e7e71.png)
and lemme know feedback (but note the 'To be done' concerning model-less specs..)

[2019-06-27 06:53] JankoJerinic commented on #159
Hello,

I may be over-simplifying the problem, but it seems to me that, fundamentally, we want to align the behavior of strings (literals) with Sequences, with respect to operators that are defined in Sequences (i.e. Head, Tail). Based on my cursory initial exploration of the code base, it doesn't seem like too difficult a change and I'd be very happy to make a contribution. What do you think?

Be

[2019-06-27 16:15] lemmy commented on #159
@JankoJerinic Can you out-line the set of operators and their behavior that you think would be useful for strings? Technically, it would be possible to create a TLA+ module called Strings with TLC module overrides similar to how the existing standard modules are specified and implemented in Java.

[2019-06-27 17:50] dricketts commented on #227
This seems to also affect the trace explorer, so I assume that the trace explorer uses the memory configuration setting from the Model Overview tab. Would it make sense to always use a small amount of memory for the trace explorer, regardless of the configuration for normal model checking?

[2019-06-27 17:55] lemmy commented on #227
@dricketts For the Trace Explorer this has already been fixed in the [nightly build](https://nightly.tlapl.us).

[2019-06-27 18:53] JankoJerinic commented on #159
Hi @lemmy,

Of course. I'm mostly interested in operations involving lexicographic comparison of strings, ordered traversal and prefix queries, so I use operators like the below:

[code]

In essence, if Strings would actually behave like Sequences in practice, like the original TLA+ spec claims, ``Head`` and ``Tail`` would just work. However, as we all know, only sequence-like operators that work

[2019-06-27 21:58] quaeler commented on #211
This has been completed, barring changes due to feedback with abcb83f84e1d6807f6bb7338c681f5039b819392

[2019-06-27 22:18] quaeler commented on #301
Code is in the appropriate bundle with 00a24ab3b360b1e5bdafe6c1a7457f89e89fe22a

[2019-06-27 22:18] #301 closed

[2019-06-28 02:48] lemmy commented on #159
@JankoJerinic Thanks for volunteering.  We are in the process of setting up a [community modules repository](https://github.com/tlaplus/CommunityModules) which is intended to host additions such as the one proposed above.  Extending the existing built-in standard modules on the other hand has a significant higher bar though. That said individual community modules might graduate at some point.

[2019-06-28 03:51] lemmy opened #329 "Support editor folding of TLA+ translation of PlusCal algorithm"
Folding is currently implemented for steps of a TLA+ proof.  The same functionality should be added for the TLA+ translation of a PlusCal algorithm.  Folding support for boxed comments would be nice to have too.

[Folding in Eclipse Text Editors](https://www.eclipse.org/articles/Article-Folding-in-Eclipse-Text-Editors/folding.html)

[2019-06-28 16:22] lemmy opened #330 "Investigate if JNLP web-start of Distributed TLC still works with Java 11"
https://medium.com/adoptopenjdk/move-over-java-web-start-raise-your-glass-to-icedtea-web-v1-8-1-c0395e9f27

[2019-07-01 04:08] lemmy commented on #325
The basics have been implemented in 1.6.0.  The rest will be implemented in a future release.

[2019-07-02 03:10] quaeler commented on #211
As there's been no further requests for change, and 1.6.0 is upon us, i'm going to close this.

[2019-07-02 03:10] #211 closed

[2019-07-02 03:11] quaeler commented on #319
@lemmy anything outstanding here still ?

[2019-07-02 03:42] lemmy commented on #319
Everything that is no crossed off above in https://github.com/tlaplus/tlaplus/issues/319#issuecomment-499911408

[2019-07-03 17:57] keepsimple1 commented on #207
Encountered the same problem and found this discussion. It helps. And just wanted to share, if anyone did not have `pdflatex` on their mac (like me),  the following command would install it without installing the full `mactex`: ```brew cask install basictex```.   And note,  you need to restart bash to be able to do `which pdflatex` to verify its path.

[2019-07-03 18:17] ahelwer opened #331 "Add word wrapping in TLC error output"
The size of the virtual text box is huge relative to its onscreen size, making the error difficult to read

![image](https://user-images.githubusercontent.com/718765/60615510-285df180-9d84-11e9-9ce1-7c42bd9408de.png)

[2019-07-05 16:02] lemmy opened #332 "Toolbox update signed with expired Inria Certificate"
see http://discuss.tlapl.us/msg02952.html

[2019-07-06 13:34] lemmy commented on #332
@quaeler Do you have time to take a look of what is going on?  If asked Raul for more details but he hasn't responded yet.

[2019-07-06 15:19] quaeler commented on #332
I'll look today, though i hope he replies with some useful information.

[2019-07-07 00:20] quaeler commented on #332
Aside from the jar signer target, i haven't found where any other assets are being signed. I don't know where the real keystore we use is - if it's the one in the repository, it hasn't been touched in 2 years, which is both later than the expiration date (and so presumably does not contain an already expired certificate, and also therefore hasn't been broken in recent months.)

I see the same thin

[2019-07-07 02:54] lemmy commented on #332
https://github.com/lemmy/Pdf4Eclipse/commit/da0e75a3df6edab96204fe535db56f11fcf4bb72

[2019-07-07 04:53] lemmy commented on #332
@quaeler Can you check with the newest nightly build again?

[2019-07-07 05:19] quaeler commented on #332
I can no longer update at all - after accepting all the licenses and starting the downloads, i eventually receive the following.. (tried deleting the temp directory; tried downloading a new 1.5.7 zip and using that app; ... - no difference.)
![Screen Shot 2019-07-06 at 10 09 50 PM](https://user-images.githubusercontent.com/22581048/60764319-2756e980-a03c-11e9-973c-97d82ada6ff4.png)

[2019-07-07 14:25] lemmy commented on #332
Not happening here when I upgrade 1.5.7 to current nightly (Linux).

[2019-07-07 14:54] quaeler commented on #332
Still no love this morning on macOS fresh 1.5.7. The file it complains about not being able to delete is 644 owned by me, so i'm not sure what it is really trying to say.
[code]

[code]

[2019-07-07 15:42] quaeler commented on #39
2+ years later - do you perchance still have the files he mentioned that we was attaching to his report?

[2019-07-07 15:47] lemmy commented on #39
I'm afraid not

[2019-07-07 16:26] quaeler commented on #330
Does not work on macOS.

[2019-07-07 16:52] quaeler commented on #270
Marking closed as fixed.

[2019-07-07 16:52] #270 closed

[2019-07-09 14:48] lemmy commented on #332
@quaeler Can you roll-back the install to 1.5.7 or does the update permanently break the Toolbox?

[2019-07-09 14:51] quaeler commented on #332
The failed update leaves the 1.5.7 install unaltered.

[2019-07-09 15:01] lemmy commented on #332
FWIW: The 1.6.0 build currently hosted as a draft release on Github successfully updates to the latest nightly when the experimental updates flag in the preference is checked.

[2019-07-09 15:03] lemmy opened #333 "Create empty p2 repository at 1.6.0 update site location to avoid Toolbox warning"
<img width="686" alt="Screen Shot 2019-07-09 at 8 05 58 AM" src="https://user-images.githubusercontent.com/88777/60900057-6c3b7580-a220-11e9-83cd-47b80fe6df19.png">

[2019-07-09 15:52] lemmy commented on #332
A 1.5.7 Toolbox update to current 1.6.0 nightly on macOS succeeded for me.  @quaeler Can you try purging ~/.tlaplus/ followed by a fresh 1.5.7 install and 1.6.0 update?

[2019-07-09 17:34] quaeler commented on #332
Yes - that works for me.

[2019-07-09 17:36] quaeler commented on #332
We should advise people to install anew, though. The update process doesn't seem to do some things like fix the app icon.

[2019-07-09 17:39] lemmy commented on #332
Does the app icon alone really warrant a re-install?  The VM e.g. gets correctly switched to the bundled one.

[2019-07-09 17:40] quaeler commented on #332
I dunno - you know we differ on thoughts concerning aesthetics :- )   Yes, totally not mission critical - some people will not care, some people will find a generic app icon to be a little schlock-y.

[2019-07-09 17:47] lemmy commented on #332
Do you happen to know why it didn't show the new icon?

[2019-07-09 17:52] quaeler commented on #332
I don't - it did install the the `.icns` file into the correct place; i am not sure why the app's display in Finder doesn't update.

[2019-07-09 17:55] lemmy commented on #332
Might it be possible that it will show the icon after restarting macOS?

[2019-07-09 17:56] quaeler commented on #332
Totally plausible that some periodic recaching done by Finder will eventually display the icon - i'll check in with my Finder periodically through the day.

[2019-07-09 18:40] lemmy commented on #332
Lets consider the original issue fixed.

[2019-07-09 18:40] #332 closed

[2019-07-09 21:25] JankoJerinic commented on #159
Absolutely, I'd be very happy to contribute, not just in extending the community modules, but the core code base of TLC.

I've successfully built a version of TLC in which Tail() also works on Strings, and comparison operators (<, <=, >, >=) are implemented in Java.

Are you guys happy to take pull requests? Personally, I'm seeing a lot of potential to refactor and make the codebase more sustainab

[2019-07-09 21:41] lemmy commented on #159
@JankoJerinic We live by the mantra to _don't fix it if it ain't broken_ to reduce the risk of introducing soundness or completeness bugs.  In other words, TLC refactorings should be discussed in detail before changes are made.

[2019-07-09 22:29] lemmy commented on #333
Fixed by changing the symlink from 1.5.8 to 1.6.0:

[code]

[2019-07-09 22:29] #333 closed

[2019-07-09 22:37] quaeler commented on #226
I held up the RSS polling thread (`org.eclipse.recommenders.internal.news.rcp.poll.PollFeedsJob.run(IProgressMonitor)`) while it was polling and was still able to start and finish a model check job. I also held up the thread inside of `TLCProcessJob.run(IProgressMonitor)` and saw the RSS polling job start and end without problem.

I'm closing this as a non-issue.

[2019-07-09 22:37] #226 closed

[2019-07-10 05:07] #319 closed

[2019-07-11 20:49] lemmy opened #334 "1.6.0 Toolbox release"
- [x] Check artifacts on draft GitHub release identical to tla.msr (checksums)
  => manually re-uploaded to GH
- [x] Check GitHub changelog is up-to-date
- [x] Check Toolbox signed on macOS
- [x] Check version numbers & dates
- [x] Check CloudTLC with e.g. PacketNet
- [x] Tag git repository (git tag v1.6.0)
- [x] Add [jenkins file](https://github.com/lemmy/jenkinfs/blob/master/jenkinfile.groovy) t

[2019-07-11 23:49] lemmy opened #335 "Enablement of menu items"
1. Snapshot Cannot rename but option is available
![thumbnail_image001](https://user-images.githubusercontent.com/88777/61092516-6ea5f700-a3fb-11e9-95ce-2902991f6ea6.png)
2. Open with in-place editor: Unable to restore in-place editor. In-place support is missing.
[code]

[2019-07-12 17:03] lemmy commented on #274
I suggest to only implement variable filtering for now for which we have a real use case: Refinement (compare page 9 of "[Hiding, Refinement, and Auxiliary Variables](https://lamport.azurewebsites.net/tla/hiding-and-refinement.pdf)").

-------------

In terms of UI:

* Add a hide/un-hide button (next to the existing collapse & link buttons)
* Clicking the button opens a modal dialog
* For all spec

[2019-07-12 17:06] lemmy commented on #294
Related: #299

[2019-07-12 17:07] lemmy commented on #311
Please re-open if this is still an issue

[2019-07-12 17:07] #311 closed

[2019-07-12 17:08] lemmy commented on #291
This has been implemented in 1.6.0

[2019-07-12 17:08] #291 closed

[2019-07-12 17:09] lemmy commented on #271
#105 assuming it is useful to diff traces of two different model runs.

[2019-07-12 17:12] lemmy commented on #221
@dimbleby Can you please check if the https://github.com/tlaplus/tlaplus/releases/tag/v1.6.0 release fixes this issue?

[2019-07-12 17:16] lemmy commented on #154
Related, I might be useful (e.g. in the scope of https://github.com/tlaplus/CommunityModules) to be able to extend additional modules for trace expressions.

[2019-07-12 23:07] cartazio commented on #320
same issue here ...

[2019-07-12 23:17] lemmy commented on #320
@cartazio Did the steps outlined above solve the issue for you?

[2019-07-13 12:01] dimbleby commented on #221
It looks as though the toolbox now re-dos-es the file before performing translation - is that what you're expecting?

While that's not completely ideal - I'd prefer that the toolbox was truly agnostic about the line endings and would leave my file using whichever format it found - it's certainly a huge improvement on the cryptic errors that I was seeing when I reported this.

Cheers.

[2019-07-14 23:12] lemmy commented on #274
This is more important than #261

[2019-07-16 21:55] Calvin-L opened #336 "`\subseteq` instead of `\in SUBSET`"
As far as I am aware, the expressions `A \in SUBSET B` and `A \subseteq B` are equivalent. I find the second one more appealing. However, TLC does not allow the second form in action predicates. In some of my specifications I would like to write

    Next ==
        data' \subseteq data

instead of the slightly-more-awkward

    Next ==
        data' \in SUBSET data

It might also be reasonable to

[2019-07-16 21:59] lemmy commented on #336
Please note http://discuss.tlapl.us/msg00619.html

[2019-07-16 22:41] Calvin-L commented on #336
I have some vague knowledge of how TLC works, and I recognize why the current implementation throws an error on the examples above.

My question might have been better worded: "should TLC special-case `\subseteq` as an operator capable of performing 'assignments' when the left-hand side is a variable, much the way that `\in` and `=` work today?"

Alternatively: "should the TLA+ tools remove the `\

[2019-07-16 22:42] Calvin-L commented on #336
(To further clarify: this is a feature request, not a bug report!)

[2019-07-17 12:44] pron commented on #146
I am currently exploring rendering TLA+ specifications into HTML in a form that looks just like the pretty-printed PDF, but has additional capabilities, such as jump-to-definition and collapsing/expanding proof steps. It also supports a "copy as ASCII" feature. The implementation is in Java and can be run offline on a Java runtime, or run in the browser with TeaVM.

The difficulty is that this req

[2019-07-17 12:50] cartazio commented on #320
ctrl+click then open worked for me

[2019-07-17 14:36] lemmy commented on #146
@pron Are you working on a modular variant of SANY right now?

[2019-07-17 15:32] quaeler opened #337 "Tab in Initial Predicate / next-state should advance focus"
Now that the initial predicate and next-state widgets accept multi-line text, the TAB key is no longer advancing the focus cycle. Restore this functionality.

[2019-07-17 17:40] pron commented on #146
Yes (well, if by "working" you mean "in progress" :))

[2019-07-17 17:43] lemmy commented on #146
Is this a rewrite of SANY or a refactoring that splits it into modules?

[2019-07-17 17:46] pron commented on #146
I'm not changing any SANY code. I'm reusing the parser as-is, and writing a "replacement" for `Generator`. It's not as complete as SANY (e.g. no level inference).

[2019-07-17 23:24] dricketts opened #338 "PlusCal translation incorrectly depends on definition"
In the following PlusCal algorithm, I would expect step1 and step2 to get translated to equivalent formulas:

[code]

However, step1 translates to:

[code]

while step2 translates to:

[code]

Notice that there is no prime on `x_alias`. I'm not sure which translation is correct (I expected `x_alias'` for step2), but it does seem like the two steps should translate to equivalent formulas.

[2019-07-18 15:54] lemmy commented on #86
Reducing the code size is a desirable goal in general.  However, a tiny reduction in size does not justifies the risk of introducing subtle bugs.  Whenever work is done to add a new feature, one should refactor related code when possible and warranted.

[2019-07-18 15:54] #86 closed

[2019-07-18 19:19] lemmy commented on #338
https://github.com/tlaplus/tlaplus/blob/659b1aa4ac4b8504910415c67cdd17b18ed3805f/tlatools/src/pcal/PcalTLAGen.java#L3285-L3296

[2019-07-18 20:13] dricketts commented on #338
Fair enough, I'll close the issue. The behavior surprised me, but I should have read the manual more closely. I also found this forum post discussing the same behavior: https://groups.google.com/forum/#!topic/tlaplus/vNPlerNO5yQ.

[2019-07-18 21:52] lemmy opened #339 "Existing model no longer opens after spec rename"
If a spec S with a model M is renamed to T, the filename of the model is updated to T_M.launch too.  However, renaming does *not* delete the old model file S_M.launch.  The Toolbox subsequently picks up S_M.launch from which it infers the spec name to be S.  Since S no longer exists, the Toolbox throws an exception (see below).

The **workaround** for now is to manually delete any S_M.launch files

[2019-07-18 21:53] Calvin-L commented on #338
I don't agree that this is expected behavior. The manual _also_ says in the introduction:

(emphasis mine)

Dan's example is a case where the placement of labels affects the value computed by the sequential algorithm, since

        step2: x := 1;
               y := x_alias;

computes something different from

        step2: x := 1;
        step3: y := x_alias;

[2019-07-19 15:33] dricketts commented on #338
I agree with Calvin. I guess I prematurely closed this issue. Re-opening for discussion.

[2019-07-19 16:57] raulpardo opened #340 "Warning to install software from unsigned sources"
Hi,

In every update the Toolbox requires me to install software from unsigned sources. Below you can find the jars involved when trying to install experimental updates 1.6.0.201907181123 from version 1.6.0.201907102009. I'm running the linux gtk version of the Toolbox on Ubuntu 18.04.

[code]

[2019-07-19 17:28] lemmy commented on #340
The warning seems bogus:

![Screenshot from 2019-07-19 10-26-53](https://user-images.githubusercontent.com/88777/61553664-c18d3900-aa0f-11e9-9923-553ebe9c787b.png)

@raulpardo Can you check that ```Help > About > Installation Details > Plug-ins``` shows similar singing infos for your Toolbox installation?

[2019-07-19 17:31] lemmy commented on #338
I suggest to continue this discussion at the Google group.

[2019-07-19 22:23] raulpardo commented on #340
It shows exactly the same (just for an older version). Perhaps it is a problem related on my configuration of the Toolbox? Even though I simply unpacked it from the zip file.

![image](https://user-images.githubusercontent.com/8382285/61568603-2bdfc100-aa84-11e9-9dd1-30c1d1505ece.png)

[2019-07-19 22:56] lemmy commented on #340
@raulpardo Please clarify what you mean by "unpacked it from a zip".  I thought you would get the error when you update one Toolbox to a newer version with the built-in ```Help > Check for updates```.

[2019-07-20 07:25] raulpardo commented on #340
Yes, I get the error when I click on `Help > Check for updates`. What I meant is that, in order to install the Toolbox, I downloaded [this zip file](https://github.com/tlaplus/tlaplus/releases/download/v1.6.0/TLAToolbox-1.6.0-linux.gtk.x86_64.zip) and unpacked it.

[2019-07-22 03:27] lemmy opened #341 "1.6.0 Known Issues"
- [x] Table column & cell highlighting on ```Model Checking Results``` page does not work on Windows 10 (see upstream bug [Eclipse 536621](https://bugs.eclipse.org/536621))
   - ```State space progress``` no longer highlights (red) a non-zero ```Queue Size``` to warn about incomplete state space exploration
   - Action statistics for an action with zero states and zero distinct states are not high

[2019-07-22 18:14] ahelwer commented on #161
Similar issue: https://groups.google.com/d/msg/tlaplus/secG-IPKCcI/H_ubarsLEQAJ

[2019-07-23 00:23] dricketts commented on #338
Discussion continued here: https://groups.google.com/forum/#!topic/tlaplus/vNPlerNO5yQ

[2019-07-23 04:30] lemmy commented on #341
@quaeler FYI

[2019-07-23 16:39] lemmy commented on #341
@quaeler I checked on Windows and the Toolbox gets a Color instance for SWT.Color_Yellow.  However, the background on the sub-actions table on the result page doesn't get highlighted. Any ideas?

[2019-07-23 16:48] quaeler commented on #341
Historically i've run afoul of some quirks with Windows' SWT table implementation - and a quick google of this situation turns up some tenuously themed bugs filed at eclipse.org - but i don't know of and strategy without some more digging.

[2019-07-23 16:50] lemmy commented on #341
IIRC it worked correctly in 1.5.7

[2019-07-23 16:53] quaeler commented on #341
I have that feeling too... maybe something about the layout changes.. ? Seems weird that layout would impact that, but it is SWT after all.

[2019-07-24 03:52] quaeler commented on #274
d6886b5 provides the bulleted items, but not left clicking with a modifier key.

[2019-07-24 04:56] lemmy commented on #341
https://bugs.eclipse.org/536621 is addressed by bumping the target platform to:

[code]

[2019-07-24 20:46] quaeler commented on #274
32b422d provides ALT-clicking on a variable to omit it.

[2019-07-31 00:32] lemmy commented on #274
Can you record a screencast and link it here and in the changelog?

[2019-07-31 00:44] lemmy opened #342 "Allow Trace-Explorer to extend additional TLA+ modules"
The 1.6.0 Toolbox release increased the value of trace expressions (see #267).  As a next step, in order for users to form more advanced trace expressions from operators such as ```ToJSONObject``` - bundled in the newly introduced [CommunityModules repository](https://github.com/tlaplus/CommunityModules/blob/master/modules/) - the ```Error-Trace Exploration``` should support extending additional m

[2019-07-31 03:08] quaeler commented on #274
53a673d is the changelog addition, and attaching the GIF here!
![error-trace-filtering](https://user-images.githubusercontent.com/22581048/62180695-d4ecae00-b305-11e9-99aa-c6d78d5f5fa2.gif)

[2019-07-31 03:08] #274 closed

[2019-07-31 03:09] #6 closed

[2019-07-31 20:55] AmirHossein-SayyadAbdi opened #343 "Deleting a model snapshot results in NullPointerException"
I am using Version 1.6.0 of 10 July 2019 of Toolbox on Windows 10, and when I deleted a model snapshot it was deleted successfully but the corresponding GUI item remained (with no text) and clicking on it resulted in NullPointerException.

[2019-07-31 21:10] lemmy commented on #343
Thanks for the report. Can you please attach the corresponding stacktrace that is found in ~/.tlaplus/. metadata/.log?

[2019-08-01 00:22] lemmy commented on #342
@will62794

[2019-08-01 07:33] AmirHossein-SayyadAbdi commented on #343
Sure, but sorry I cannot find this log file! As I mentioned before I am using the toolbox on Windows.

[2019-08-01 14:22] lemmy commented on #343
The ``` .log```  file is in the ```.tlaplus/.metadata/``` folder in your home directory.  On Windows, you can find out where your home directory is located, by entering the command echo ```%SYSTEMDRIVE%%HOMEPATH%``` in Command Prompt. (The log contains enough timestamped entries for you to figure out what part of it relates to the problem you are reporting.)

From https://tla.msr-inria.inria.fr/tl

[2019-08-01 17:11] lemmy opened #344 "Raw Trace-Expression error trace has cryptic action names"
Problem Description
-------------

The raw TLC output that results from running trace exploration shows action names and locations such as ```<next_156467581678042000 line 48, col 3 to line 68, col 2 of module TE>``` that have no meaning for a user.   Each name and location corresponds to the location of the step in the generated TE.tla (see _org.lamport.tla.toolbox.tool.tlc.model.TraceExpressionM

[2019-08-01 20:57] quaeler opened #345 "Improve TLAPS integration in the Toolbox"
The toolbox relies on `tlapm` existing either in `/usr/local/bin` on the default PATH as understood by the Toolbox at launch time. This is inconvenient for users who do not want to install it in a specific location, and who's system default PATH does not incorporate the install directory.
To address this we should:
* Create a preference pane item allowing the user to specify the location of the `t

[2019-08-02 09:27] AmirHossein-SayyadAbdi commented on #343
Thanks for the instructions on finding the log file.

This is the major error:
!MESSAGE Launch configuration SpecName___Model_1_SnapShot_1558107284052 at file:/TLA_SPECS_PAH/SpecName.toolbox/SpecName___Model_1_SnapShot_1558107284052.launch does not exist.

It is obvious that when I delete a model snapshot it will be deleted successfully, but its GUI element does not get deleted. And this is why cl

[2019-08-02 09:34] AmirHossein-SayyadAbdi opened #346 "Deleting Two Specs Simultaneously"
I am using Version 1.6.0 of 10 July 2019 of Toolbox on Windows 10.

I selected two specs in the Spec Explorer, one of which was open. I then right-clicked on one of the two specs and then I selected Delete. This resulted in the open spec to be deleted, but the closed spec prompted a confirm dialog to be "forgotten" instead of deletion.

There was no errors or exceptions.

[2019-08-02 16:43] lemmy commented on #339
When working on this issue (#339), consider fixing #343 and #346.

[2019-08-03 19:52] lemmy commented on #342
@will62794 I consider this feature - including the feature to write trace expressions in a dedicated module file - pretty much done at this point.

[2019-08-04 14:57] quaeler commented on #345
Last touches in with fdf663a

[2019-08-04 15:18] quaeler commented on #337
Fixed with eaea069

[2019-08-04 15:18] #337 closed

[2019-08-04 17:55] quaeler commented on #335
Addressed with 2a975da and f95d243

[2019-08-04 17:55] #335 closed

[2019-08-07 20:35] keepsimple1 opened #347 "print module in ASCII from TLA+ Toolbox"
This is an enhancement feature request to:

- support printing a module (as to a printer) in ASCII (i.e. not the pretty-printer) from TLA+ Toolbox.

It was brought up in https://groups.google.com/forum/#!topic/tlaplus/DNmoXn3HWO0 . Thanks.

[2019-08-07 22:13] quaeler commented on #329
Addressed with 28f6e2c (code) and 0325cb9 (changelog update)

[2019-08-08 05:02] keepsimple1 commented on #278
I am seeing a similar issue using Java 11 `adoptopenjdk11`.  Is it known issue with AdoptOpenJDK, or something else?

I followed the instructions at here: https://github.com/tlaplus/tlaplus/tree/master/general/ide  and the Errors appear in Eclipse with the message:
[code]

[2019-08-08 05:35] keepsimple1 commented on #278
Never mind, I found the problem.

For some reason, the TLA+ Eclipse install has set "JRE System Library" under `TLA+Tools` project to be `JavaSE-8` even though the system default is Java 11.  (I have both Java 11 and Java 8 on my Mac).   I manually changed the "JRE System Library" to point to JavaSE-11, now the errors are gone.

Just to share.

[2019-08-08 18:30] keepsimple1 opened #348 "cannot start TLA+ Toolbox application from Eclipse Oomph 2018.12"
I installed Eclipse Oomph 2018.12 with Java 11 (AdoptOpenJDK11), but when I try to run the TLA+ Toolbox application, it failed to load SWT library due to missing code signature on the lib file (`libswt-cocoa-4919.jnilib`),

here is the detailed error message.  Is this a known issue?

[code]

[2019-08-10 14:12] suhr opened #349 "Poor rendering of the modulo operation"
Currently, the modulo operation is rendered like this: `(x \div e) \% 2`. But it really should be `(x \div e) \mathbin{\%} 2`, since `%` is a binary operation.

There's a comparison between both: http://mathb.in/35576. As you can see, `\mathbin` adds extra spaces around `%`, so it looks like a binary operation. This significantly improves readability  of formulas containing the `%` operation.

[2019-08-10 17:24] lemmy commented on #348
Is the MacOS specific SWT fragment included in the launch config?

[2019-08-10 19:31] quaeler commented on #339
"Progress" update - the `launchConfig.delete()` does indeed delete the old launch file - but that old launch file is in `S.toolbox`, and there is still a copy (for whatever reason) in `T.toolbox`.

Making sure that the copy in `T.toolbox` also gets deleted works fine for the first rename. Making a second generation rename, (e.g rename T to U,) fails while attempting to locate a snapshot file which

[2019-08-10 21:02] keepsimple1 commented on #348
I am pretty new to Eclipse-based applications. @lemmy did you mean the `Plug-ins` in the `Run Configurations...` ?  see attached screenshot.
<img width="799" alt="Screen Shot 2019-08-10 at 1 59 17 PM" src="https://user-images.githubusercontent.com/7699244/62826815-792ceb00-bb77-11e9-8ddd-0449b90b080b.png">

The line item highlighted seems to have `Auto-start` set to `false`.  Is that a problem?  O

[2019-08-10 23:05] quaeler commented on #343
I cannot replicate this on either macOS or Win10, with 1.6.0 release, deleting either successful or erred snapshots.
Could you give some more guidance as to how to replicate this?

[2019-08-11 00:05] quaeler commented on #339
Fixed with 7d391f1

[2019-08-11 00:05] #339 closed

[2019-08-11 16:04] quaeler commented on #346
I attempted to replicate this on both Win10 and macOS and on both platforms i received a dialog for each specification as i would expect. ("Forgotten" is indeed the dialog verbiage intended to be shown during the delete action. The Toolbox-specific content (model files including snapshots) is deleted from the file system, the `.tla` files are not.)

Could you provide more specific reproduction ste

[2019-08-11 17:51] AmirHossein-SayyadAbdi commented on #346
I agree.
The issue is resolved.
Thanks.

[2019-08-11 17:54] #346 closed

[2019-08-11 17:58] AmirHossein-SayyadAbdi commented on #343
I was able to reproduce the issue this way:
1- Created a new spec and let its content be the same spec as TCommit [1].
2- Created a model and set the initial state as TCInit and set the next state as TCNext.
3- I Ran TLC.
4- Deleted the currently generated model snapshot.

Then there was a GUI element that is empty and when I click on it the result is NullPointerException.

[1] https://github.com/

[2019-08-11 18:23] quaeler commented on #343
Hmm... i'm at a loss. This works correctly on both platforms for me. In your step 4, are you using the context menu like this: (the dialog pane occurs out of capture view)
![343_delete_context](https://user-images.githubusercontent.com/22581048/62837923-2fe9a380-bc2a-11e9-9c3c-e995af491c7d.gif)

... and are you saying that the "Model_1" in your tree view still has an expansion chevron next to it (

[2019-08-11 23:36] AmirHossein-SayyadAbdi commented on #343
It is possible that the error is not producible in all specs, because I remember deleting a model snapshot correctly as well.

It my step 4 when I right click on the snapshot and select "delete" and I confirm, the GUI element (that has Aug 11 2019 text in your GIF) will remain but its text will be cleared. And clicking on it will result in NullPointerException.

[2019-08-12 00:00] quaeler commented on #343
When you say that 'the GUI element remains' - do you mean that you still see the icon on the left side (but no longer the accompanying date-time text)?

[2019-08-12 06:22] AmirHossein-SayyadAbdi commented on #343
This is strange, because yesterday I was able to reproduce the error and today I am not.

But what I meant is that after I deleted the snapshot, the icon ![1](https://user-images.githubusercontent.com/24325657/62848073-f9c22780-bcee-11e9-890f-77fa037ca248.png) still remained with no text.
It was empty and clicking on it resulted in NullPointerException.

[2019-08-12 14:08] introom opened #350 "Cannot open a tla file"
The window rendering is weird.

I am using i3wm.

The screenshots are:
![image](https://user-images.githubusercontent.com/669045/62871190-99ae9e00-bd4d-11e9-9c60-923eb2d655b4.png)

and then click the browse button,  we then get this:
![image](https://user-images.githubusercontent.com/669045/62871222-ac28d780-bd4d-11e9-808f-3a8ec9bd97bb.png)
Just a blank white popup, i can choose the file from nowh

[2019-08-12 15:33] quaeler commented on #343
Are you saving to a network mounted drive (or is this happening when your machine is under heavy load from a parallel running process?)

[2019-08-12 15:50] AmirHossein-SayyadAbdi commented on #343
No I am saving it on my own hard drive locally, and the system was not under such a heavy load either.

[2019-08-12 19:04] lemmy commented on #343
@quaeler Check the git history of IIRC ToolboxExplorer.  I attempted to fix a race condition related to deletion in the past.

[2019-08-12 19:05] lemmy commented on #348
@keepsimple1 The launch config looks good to me. @quaeler any idea what is going on here?

[2019-08-12 19:07] lemmy commented on #350
@introom This looks like an SWT deficiency to me.  Have you checked [Bugzilla](https://bugs.eclipse.org/bugs/buglist.cgi?classification=Eclipse&component=SWT&list_id=18890152&product=Platform&query_format=advanced) at eclipse.org?

[2019-08-12 19:33] quaeler commented on #348
This doesn't ring a bell - @keepsimple1 what macOS version is this?

[2019-08-12 23:19] DestyNova opened #351 "TLC model checker: "Deadlock" checkbox appears blank even if checked"
While following the video tutorials and attempting to run the TLC model checker, my model failed due to a "deadlock" (meaning, termination of the program).

When I went back to uncheck the "Deadlock" option, it appeared already unchecked, but TLC still fails with the same error.

After some investigation, it seems that the "checked" checkbox looks empty except for a thin green border:

![Screensho

[2019-08-13 00:14] introom commented on #350
https://bugs.eclipse.org/bugs/buglist.cgi?classification=Eclipse&component=SWT&list_id=18890152&order=changeddate%20DESC%2Cbug_status%2Cpriority%2Cassigned_to%2Cbug_id&product=Platform&query_format=advanced

Too many issues, not sure which one is pertinent.

[2019-08-13 03:29] keepsimple1 commented on #348
@quaeler macOS is Mojave 10.14.5

[2019-08-15 00:03] quaeler commented on #341
@lemmy assigning an icon to a cell still renders in win10 - perhaps we could use an icon instead of background coloring?

[2019-08-15 21:46] quaeler commented on #224
WRT the MOD1 + [ - it's strange because we do register the navigation history actions in `ApplicationActionBarAdvisor.makeActions(IWorkbenchWindow)` - and there is no report on startup for keybinding conflict for this particular keybinding - but it indeed does not work.

[2019-08-17 21:16] hwayne opened #352 "-cleanup flag does not work from command line"
**Setup**: Take any TLA+ file. Confirm it runs with `java tlc2.TLC file.tla`. Then, run with `java tlc2.TLC -cleanup file.tla`.

**Result**:
[code]

**Notes**: This works from the toolbox.

[2019-08-17 21:25] hwayne opened #353 "Feature Request: PlusCal macros shouldn't need to be assignments"
Sometimes we have to write something like

[code]

It would be nice if we could instead write

[code]

This currently doesn't work because all PlusCal macros must be an assignment, so we can't use them as fragments of expressions.

[2019-08-17 21:33] hwayne opened #354 "Disjunct of negated eventually predicates blows up liveness tableau"
**Setup:** Given spec

[code]
Model check both liveness properties in separate model runs.

**Expected:** Runtime checking should be similar (within an order of magnitude) timeframe.

**Actual:** Runtime blowup is exponential.

[2019-08-18 20:47] quaeler commented on #351
Assuming this is 1.6.0, the Java version is immaterial - the Toolbox now ships with its own JRE (presently Adopt OpenJDK 11).

This sounds like an SWT implementation issue - perhaps you can [find an existing issue in Eclipse's bug tracking system?](https://bugs.eclipse.org/bugs/buglist.cgi?classification=Eclipse&component=SWT&list_id=18890152&product=Platform&query_format=advanced)

[2019-08-19 02:31] DestyNova commented on #351
Yes, I should have mentioned the toolbox version which is indeed 1.6.0. I did a quick search of the Eclipse bug tracker and couldn't find anything relevant, but there are hundreds of matches for the search term "checkbox" so I'll try to have another look later.

[2019-08-19 14:16] hengxin opened #355 "A (minor) proof decomposition bug in TLAPS involving instantiation"
I have encountered a minor Proof Decomposition bug with TLAPS (Version 1.4.3 of June 2015).

I am trying to show that `Record` refines `SimpleVoting`; see the TLA+ specs in [SimpleVoting-Record.zip](https://github.com/tlaplus/tlaplus/files/3516236/SimpleVoting-Record.zip).

In the following proof, the proof decomposition (Ctrl+G, Ctrl+D) of <3> generates a buggy formula `maxBal[p] SV!< b` in <4>1,

[2019-08-20 01:31] dricketts commented on #353
I believe this feature would also allow one to sidestep the issue with definitions described in this issue: https://github.com/tlaplus/tlaplus/issues/338. One could use macros instead of definitions, and since macros are expanded, PlusCal would put primes on variables hidden behind macros.

[2019-08-20 03:00] hengxin commented on #355
[As commented by Leslie Lamport](https://groups.google.com/d/msg/tlaplus/rmmH9vFwH_0/cTN6gMxpDgAJ), `SV!<` *is* correct for proof decomposition.

So, the real bug here is that the Toolbox (Version 1.6.0 of 10 July 2019) reports a parse error on `maxBal[p] SV!< b`.

---
[SimpleVoting-Record-ParseError.zip](https://github.com/tlaplus/tlaplus/files/3518486/SimpleVoting-Record-ParseError.zip):
- See t

[2019-08-21 15:56] lemmy commented on #341
@quaeler Good idea, that should work.  However, lets wait if we run into more reasons to upgrade to a newer Eclipse foundation first.

[2019-08-21 16:21] lemmy commented on #329
If a multi-line comment is in-between the algorithm statement and the variables, collapsing the algorithm does not collapse the complete algorithm but only the multi-line comment.  A second folding is available for the rest of the PlusCal algorithm.

[code]

[2019-08-21 16:26] quaeler commented on #329
Can you attach the full `.tla` file (or point to it if its in the examples) containing this PlusCal?

[2019-08-21 17:25] lemmy commented on #329
https://github.com/tlaplus/tlaplus/blob/master/tlatools/src/tlc2/tool/fp/OpenAddressing.tla

[2019-08-21 17:40] quaeler commented on #329
Oh i see... not that we can unring this bell - but a comment-block that is inside another comment-block is generally considered illegal in languages in my experience - no?

[2019-08-21 17:48] lemmy commented on #355
[LL: "Mea culpa.  One can no longer write  a SV!< b  in TLA+.  Version 2 of TLA+ allows this _expression_ to be written in the  more readable form  SV!<(a, b).  I had forgotten that it also disallows the previous syntax.  So, this is a bug in the Decompose Proof command."](http://discuss.tlapl.us/msg03081.html)

[2019-08-21 18:51] lemmy commented on #353
@hwayne Has anybody checked what the rational was to restrict macros to assignments?

[2019-08-21 18:54] lemmy commented on #352
I cannot reproduce this locally (see below).  What OS are you on?

[code]

[2019-08-21 20:33] lemmy commented on #354
@hwayne Has this blowup originally occurred in a real-world spec?  If yes, can you share it too?

[2019-08-21 20:42] lemmy commented on #354
```\E y \in 0..4: ~<>(x=1)``` can be rewritten as ```~<>(x=1) \/ ~<>(x=1) \/ ~<>(x=1) \/ ~<>(x=1) \/ ~<>(x=1)```

[2019-08-21 23:32] xxyzzn opened #356 "Decompose Proof Toolbox command incorrectly expanding instantiated definitions containing renamed infix operators"
If a definition in an instantiated module contains an expression like 2 ++ 2 and the command expands that definition, it produces an expansion that might contain the expression 2 M!++ 2, which is illegal, instead of the correct expansion M!++(2, 2).

[2019-08-22 03:51] hwayne commented on #352
Issue on my end was using `java tlc2.TLC` instead of `java -jar`. I think there might have been a configuration issue on my end with my classpath.

[2019-08-22 03:51] #352 closed

[2019-08-22 19:32] quaeler commented on #224
@will62794 if you use the menu item `Window → Back`, does jumping back work correctly?

Second question - if you give the Spec Explorer focus first, does `⌘ + [` then work?

[2019-08-23 16:36] lemmy commented on #329
How difficult would it be to also support folding the TLA+ translation of the PlusCal algorithm (everything between BEGIN TRANSLATION and END TRANSLATION)?

[2019-08-23 16:49] quaeler commented on #329
Should be doable - will implement!

[2019-08-23 18:48] lemmy commented on #342
![Peek 2019-08-23 11-25](https://user-images.githubusercontent.com/88777/63616194-decb9f00-c59b-11e9-8742-44fc38b01dd8.gif)

[2019-08-23 19:08] #342 closed

[2019-08-24 00:01] quaeler commented on #329
Addressed with 4898e3d

[2019-08-27 16:15] lemmy opened #357 "SIGSERV on macOS with Adobe Reader DC"
On macOS 10.14.6 with the recent version of AdobeReader DC 2019.012.20036 and Toolbox 1.6.0 producing a spec's pretty-printed PDF causes the Toolbox to crash with a sigserv.  The built-in Preview app does not cause a sigserv.

<details>
    <summary>macOS stack trace</summary>
[code]
</details>

<details>
    <summary>macOS SIGSEGV</summary>

[code]
</details>

[2019-08-29 00:26] #334 closed

[2019-08-29 00:27] lemmy commented on #344
Closing as WONTFIX as workaround seems good enough.

[2019-08-29 00:27] #344 closed

[2019-08-29 00:28] lemmy commented on #348
Any progress on this?

[2019-08-29 00:31] lemmy commented on #269
Can somebody quantify the advantages of switching to Java 12?

[2019-08-29 00:32] lemmy commented on #281
How much of this is still open after 1.6.0?

[2019-08-29 00:32] lemmy commented on #286
Is this still an issue?

[2019-08-29 00:34] lemmy commented on #305
The underlying issue is that TLC does not report the location of the initial predicate when it prints an error-trace.

[2019-08-29 00:39] pron commented on #269
It's not "switching" so much as updating (12 is not a major release; 9 was the last major release ever, and Java has now switched to gradual updates). This is the recommended, best-practice, update path to receive bug and security fixes. In addition, there are performance benefits to each feature version. The embedded JDK should ideally be updated every 2-3 months (it's not the end of the world if

[2019-08-29 00:48] lemmy commented on #257
WRT seeing the actual cmd: http://discuss.tlapl.us/msg03101.html

[2019-08-29 00:56] lemmy commented on #125
Closing as WONTFIX as we don't have the manpower to address it in the foreseeable future.  Happy to accept a patch though.

[2019-08-29 00:56] #125 closed

[2019-08-29 00:58] lemmy commented on #97
I'm unaware of when this causes problems.  Please reopen when a scenario is found.

[2019-08-29 00:58] #97 closed

[2019-08-29 00:59] lemmy commented on #110
Is this still an issue?

[2019-08-29 01:00] lemmy commented on #121
Instead of JSON output I'd prefer to format output as (valid) TLA+ with a mechanism for users to evaluate TLA+ expressions on it.

[2019-08-29 01:12] lemmy commented on #153
As per design: The model editor validates its input upon save.  Running TLC triggers auto-save which - in turn - validates the model. Manually saving the model after 4) correctly removes the errors.

[2019-08-29 01:12] #153 closed

[2019-08-29 01:17] lemmy commented on #207
@qualer Please see if improving the error with helpful information what to do can be done in less than an hour.

[2019-08-29 01:18] lemmy commented on #207
@quaeler Please see if improving the error with helpful information what to do can be done in less than an hour.

[2019-08-29 02:49] quaeler commented on #348
None on my side - i'm not on Mojave.

[2019-08-29 02:50] quaeler commented on #281
The part where a results page shows already on a new model.

[2019-08-29 02:51] quaeler commented on #286
Nope.

[2019-08-29 02:51] #286 closed

[2019-08-29 02:51] quaeler commented on #110
It is.

[2019-08-29 02:56] lemmy commented on #110
Do we need to fix it?

[2019-08-29 02:57] quaeler commented on #110
It's an architectural detail but not necessary.

[2019-08-29 02:57] #110 closed

[2019-08-29 03:01] lemmy commented on #348
Looking at the error again, might this be related to too strict security settings?

[code]

Compare https://github.com/ycm-core/YouCompleteMe/issues/3158

[2019-08-29 03:03] quaeler commented on #348
Were this the genesis though, it seems like no one launching an SWT-dependent RCP from Eclipse under Mojave would be successful.. :- ?

[2019-08-29 09:18] saffroy commented on #121
TLA+ output means that a TLA+ parser is required for a tool to use the output; I would think this seriously limits how one can feed this output to custom tools (AFAIK the only robust TLA+ parser is Java code living in TLA tools?).

For example, when I have a long (20+) error trace from TLC, the trace viewer in the toolbox becomes hard for me to use, and I would like to be able to transform and/or

[2019-08-29 15:58] lemmy commented on #121
@saffroy Encoding error-traces as TLA+ *combined with* the possibility to evaluate arbitrary TLA+ expressions would allow users to convert traces into any format.  E.g. you could evaluate the trace to Json with the help of the [Json module](https://github.com/tlaplus/CommunityModules/blob/master/modules/Json.tla).

[2019-08-29 15:58] lemmy commented on #121
@saffroy By the way, why is it hard to use the Toolbox trace viewer with longer traces?

[2019-08-29 18:57] quaeler commented on #329
- The expected comment block delineation for PlusCal algorithms has been documented in the help text.
- The GitHub Examples files which contain PlusCal have been ensured to obey the 'standard.'
- The gutter context menu now has a fold-all, and an expand-all, item.
- The Toolbox preferences now contain the ability to set a default folding preference for Block Comments, PlusCal algorithm block, and

[2019-08-29 18:57] #329 closed

[2019-08-29 20:19] lemmy commented on #121
Implementation sketch:  Refactor Toolbox and TLC by moving the functionality to generate TE.tla and TE.cfg into TLC.  Both files could then automatically be generated when TLC finds a violation.

[2019-08-30 09:38] saffroy commented on #121
When digging in a "long" error trace, I find that it would be easier for me:

- with a smaller font and/or , so I can see more in a page (maybe I missed how to do that)

- in table form, with variables in columns, so I can focus on some variables or ignore others, by changing the order of columns

- with highlighting of precise changes in sub-expression

At some point I wrote a (fragile) regex-bas

[2019-08-30 15:06] lemmy commented on #121
https://github.com/tlaplus/tlaplus/issues/162

https://github.com/tlaplus/tlaplus/issues/274

https://tla.msr-inria.inria.fr/tlatoolbox/doc/model/executing-tlc.html end of "The Trace View"

https://youtu.be/mLF220fPrP4?t=702
https://github.com/tlaplus/tlaplus/issues/191
https://github.com/tlaplus/tlaplus/pull/310

Exactly, https://raw.githubusercontent.com/tlaplus/tlaplus/master/general/docs/chang

[2019-08-31 08:10] alygin commented on #269
There're two parts in "let's switch/upgrade to Java X"

- Bundling Java X with the Toolbox as the JVM runtime.
- Compiling the Toolbox and the TLA+ tools with and for Java X.

And here are my thoughts on both these parts:

**Java X as just a JVM runtime**

Switching from Java 11 to Java 12 is not just a minor upgrade to stay up to date. It's switching from an LTS version (three years of public upd

[2019-08-31 16:57] pron commented on #269
I work on OpenJDK at Oracle. I know the changes we made to the update model are confusing, but LTS vs feature releases do not mean what some think they do.

Before we get to what LTS means in practice, let me point out that OpenJDK has no concept of LTS. If you look [here](https://openjdk.java.net/projects/jdk/11/), there is no mention of 11 being LTS in OpenJDK, because it isn't. There is nothing

[2019-08-31 18:46] alygin commented on #269
@pron , thank you for the clarification. I'm sure you're absolutely correct on every single point you made. And I honestly can't find a single contradiction to what I said. It just seems to me a bit Oracle-centered, while the real world is a bit wider and there're facts we have to deal with:

1. _Oracle doesn't have the concept of LTS versions._ Yet the toolbox uses AdoptOpenJDK, not just generic

[2019-08-31 18:57] pron commented on #269
Just a minor correction: I didn't say *Oracle* doesn't have LTS, I said OpenJDK doesn't. Also, Oracle is the company behind OpenJDK, whether you use Oracle's distribution, Adopt, or any other. Adopt doesn't really have LTS, either, it just uses the name for its OpenJDK udate project (8u/11u) builds, but that doesn't really matter.

The choice is this: there are two update paths for Java. The defau

[2019-09-02 00:01] lemmy commented on #296
Is a checksum of 256 bits (SHA 256) really necessary?   I'd assume a shorter/faster md5 is good enough for our (non-crypto) purpose.

[2019-09-02 00:29] quaeler commented on #296
Excessive because it is too long of a goobly-gook string staring at the user in their spec, or excessive because it is ~heavier computationally?

[2019-09-02 00:32] lemmy commented on #296
Both :)

[2019-09-02 00:33] quaeler commented on #296
:- ) ok.. will go to md5

[2019-09-02 00:33] lemmy commented on #296
Will String#hashCode work?

[2019-09-02 14:35] lemmy commented on #296
It seems both hash values are prefixed with "PC-" and "TPC-".  I suggest to change the prefixes to "PCal-" and "TLA-" to indicate what they are.

[2019-09-02 18:08] alygin opened #358 "PlusCal transpiler hangs on parsing an incorrect label"
PlusCal transpiler hangs (with 100% CPU utilisation) when parsing an algorithm with two colons after a label. The simplest file to reproduce:

[code]

It doesn't hang if `skip;` is on the same line as the label.

Setup: Toolbox 1.6.0, PlusCal 1.9, MacOS Mojave 10.14.5.
Can also be reproduced when running pcal from the command line.

[2019-09-02 18:24] lemmy commented on #358
Already present in v1.4.8 (likely even older versions).

[2019-09-03 15:03] lemmy commented on #341
Upstream fix has just been deferred until Eclipse Platform SWT 4.14.

[2019-09-03 19:16] saffroy commented on #121
Thanks!

Nice that we can hide some variables; but to me it is equally important (if not more) that I can re-order the variables that stay visible, that makes it easier for me to compare values of related variables and exhibit patterns.

Also, a table form (with variables in columns, states in rows) means that I can push less interesting variables to e.g. the right side, such that they are usually

[2019-09-03 20:41] #354 closed

[2019-09-04 17:38] keepsimple1 commented on #348
Can I ask where I can find the dependency definition of `libswt-cocoa` in this project?  I am not very familiar with Eclipse based projects. I am trying to see if possible update/change to a different version of libswt. Thanks.

[2019-09-04 18:04] quaeler commented on #348
It is part of the cocoa-specific SWT bundle which arrives by specifying a dependency on `org.eclipse.swt` in the `META-INF/MANIFEST.MF` [found here.](https://github.com/tlaplus/tlaplus/blob/master/org.lamport.tla.toolbox.product.standalone/META-INF/MANIFEST.MF#L15)

[2019-09-04 18:09] lemmy commented on #348
Before you go down this rabbit hole, I'd try to run a newly generated Eclipse (not Toolbox) launch config.

[2019-09-04 21:02] lemmy commented on #347
FWIW: With the spec editor having focus, pressing Ctrl+P opens the OS's print dialog on Linux.

[2019-09-04 21:12] lemmy commented on #345
My Toolbox (Linux) no longer detects TLAPS installed to ```/usr/local/lib/tlapls``` automatically.

![image](https://user-images.githubusercontent.com/88777/64291848-eedd6a00-cf1d-11e9-9b36-f55a30f95f22.png)

[2019-09-04 21:16] quaeler commented on #345
It never looked in `lib` though... https://github.com/tlaplus/tlaplus/commit/3bb3aeb840cc25929e2d62926705b01ee6041809#diff-c8b4173ac254955f19a58c7618a5c5d6L56

[2019-09-04 22:23] keepsimple1 commented on #347
Thanks.  Adding a menu item for Print will be nice,  otherwise I will use Ctrl+P workaround or a different editor.

[2019-09-05 05:39] alygin commented on #296
Speaking of hash value lengths, the common approach is to just take several characters from hash values and leave the rest out. Git, for instance, uses only first 7 characters of the commit SHA1 hash code to identify commits.

For the purpose of detecting a discrepancy in two text blocks it could be even shorter if needed, the collision is extremely unlikely.

[2019-09-05 06:03] alygin commented on #296
BTW, I was also thinking of warning the user if she tries to modify TLA code inside the translation block. Some IDEs do that for autogenerated code.

It doesn't solve all the problems this proposal aims, yet provides a quicker response and prevents switching to unhappy path (the one with divergence) in some cases.

Could be a supplementary feature to all these changes. What do you think?

[2019-09-05 13:58] lemmy commented on #296
The TLA+ translation shouldn't be considered auto-generated code, ie. it frequently happens that one modifies - e.g. add Print statements - the TLA+ while working on a PlusCal spec.

[2019-09-05 17:00] alygin commented on #296
Yet at the moment when the user starts to modify this TLA+ code it _is_ auto-generated. But wording is not what I want to dwell on here. Let's look at the use case you just described and how it's going to work after the changes:

1. The user has a PlusCal algorithm and the corresponding TLA+ code.
2. He edits this TLA+ code because wants to add some debug info or just accidentally.
3. He runs TLC.

[2019-09-05 18:38] lemmy commented on #296
The Toolbox preserves a history of edits, hence nothing gets lost. Thanks for suggesting though that the Toolbox should show the differences between the original TLA+ and the modified one to allow users to make informed choices. That is definitely a feature for the next iteration.

The tooling should encourage users to become familiar with TLA+ because it is more expressive than PlusCal (which is

[2019-09-05 19:16] quaeler commented on #207
With 6d2f1aa we now have improved warning as seen in this screencast (with panel text that contains a typo corrected before the commit.)
![207_ss](https://user-images.githubusercontent.com/22581048/64372048-e301ae80-cfd6-11e9-9e38-a66b6385827f.gif)

[2019-09-05 19:25] alygin commented on #296
Oh, I didn't mean the warning should appear every time the user changes something. It should be more intelligent. Otherwise, it would be a torture )

The implementations I'm aware of only ask once if you know what you are doing, and don't bother you anymore if you answer Yes (until you close the file). In case of the Toolbox the answer Yes would also mean not asking if you really want to start TLC

[2019-09-05 21:19] lemmy commented on #345
It seems I managed to mess up my TLAPS installation.

[2019-09-05 21:19] #345 closed

[2019-09-10 23:23] mmxmb opened #359 "Using MacOS Preview for state graph visualization"
I am having problems using MacOS preview for state graph visualization.

When running TLC on a model with state graph visualization enabled, I see the message `AdobePDFViewer cannot find a compatible Adobe Acrobat or Adobe Reader to view this PDF. Please select one.`

Is it possible to use Preview or at least save state graphs as PDFs? I really don't want to use Adobe.

I also found [this mention]

[2019-09-11 17:18] lemmy commented on #359
Sounds similar to https://github.com/tlaplus/tlaplus/issues/357#issuecomment-527543219

[2019-09-11 18:01] quaeler opened #360 "Show/hide unmodified variables in error trace"
Akin to #274 implement the ability to hide variables which are unmodified. There's actually two permutations of this i could imagine; given a variable X which is changed in frame 2 and 3, but not in frame 4 and 5, then hide could:
* not show X in frames 1, 4, and 5, but do show it in frames 2 and 3
* show X in all frames

[2019-09-11 22:30] Calvin-L opened #361 "Race condition in parallel TLC can lead to non-exhaustive state space exploration or bogus counterexample"
I have encountered a situation where command-line TLC outputs a spurious invariant failure when I run it with more than one worker.

System information:
 - I was able to reproduce the problem on both Mac and Linux
 - TLC version: `TLC2 Version 2.14 of 10 July 2019` (compiled from source myself from the `v1.6.0` tag)
 - JVM version: `Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.2+13, mixed mo

[2019-09-11 22:51] Calvin-L commented on #361
In case it is helpful, the problem still occurs with this more permissive `TypeOK` invariant:

[code]

This version does not use `Seq`, so hopefully it helps narrow down the problem.

[2019-09-12 19:13] Calvin-L opened #362 "Name clash between variable in refined spec and operator in instantiated spec"
If specification `A` contains a variable with the same name as a zero-argument operator in a specification it instantiates, TLC seems to get confused about whether to use the variable or the operator when evaluating operators defined in the instantiated specification. (Wow, what a mouthful!)

Here is an example:

A.tla
[code]

B.tla
[code]

A.cfg
[code]

TLC reports:

[code]

The output looks wron

[2019-09-13 19:55] Calvin-L commented on #361
On my 2-core laptop, roughly 1 in 4 runs fail. Precisely, 24 of 100 total runs failed while I compiled a large project in the background to generate some scheduler noise.

A few more details:
 - The number of actual cores on the machine doesn't seem to matter much. I was able to reproduce the problem on my 2-core laptop and a 104-core server.
 - The `-workers 40` flag doesn't seem to be relevant.

[2019-09-13 21:55] Calvin-L commented on #361
I did some digging and tried various older versions. Every version I tested seems to have the bug.

The oldest Git commit I was able to compile was 488e84740d73a54f406bef021f86afb8f30365b9 from January 2009, more than a decade ago. The bug was present in that version. (I was not able to test older versions because that commit fixed compilation for Java 1.6, and I do not have a pre-1.6 Java compile

[2019-09-14 05:09] lemmy commented on #361
Thanks for checking older revisions.  Since the bug exists in a rev of 2009, we might as well assume it existed from the very beginning.

I can successfully reproduce this issue with:

[code]

on

[code]

[2019-09-14 12:15] will62794 opened #363 "Add the ability to run a single, specified unit test from the command line for tlatools"
For some TLA+ Tools development workflows (e.g. working on TLC itself), it can be useful to have the ability to run a single unit test from the command line as opposed to running it from inside the Eclipse IDE interface. Currently the custom Ant buildfile only supports running an entire suite of tests.

This should be possible by modifying the `test` target inside the existing `customBuild.xml`. O

[2019-09-14 15:33] quaeler commented on #359
Addressed with 71f9048

[2019-09-14 15:33] #359 closed

[2019-09-14 15:34] quaeler commented on #360
Addressed with 9291f2e - please re-open if insufficient.

[2019-09-14 15:34] #360 closed

[2019-09-14 16:42] quaeler commented on #330
Attempting with 1.8.3 on macOS with Java 11 runs into a problem seemingly in their code while attempting to display a warning dialog. This issue seems fixable patchable though - will try.

[2019-09-14 18:59] quaeler commented on #330
By changing line 56 in the attached class (the class is actually no longer in their GitHub repository so maybe it's on the way out) and adding an export for `java.base/jdk.internal.util.jar` i was able to run a JNLP successfully as this:
[code]
[SunMiscLauncher.java.zip](https://github.com/tlaplus/tlaplus/files/3613053/SunMiscLauncher.java.zip)

Do we have usage statistics on how many users use JN

[2019-09-14 22:35] lemmy commented on #330
No, we don't have stats.  My feeling is that it isn't useful anymore.

What about adding a disclaimer at the top of the jnlp page saying that this is broken and needs a caretaker?

[2019-09-15 03:01] lemmy commented on #360
Please capture a screencast.

[2019-09-15 15:00] quaeler commented on #330
Ok - i'll modify the page - sounds like a good idea.

[2019-09-15 15:37] quaeler commented on #360
Screencast added with e6fbe01

[2019-09-15 18:26] quaeler commented on #330
Master's port 10996 web page content has been updated, as well as help docs and change log, with 8a804af

[2019-09-15 18:26] #330 closed

[2019-09-15 18:32] #363 closed

[2019-09-16 02:07] Starydark opened #365 "Can tlc track a specified error trace?"
While checking a specification using tlc, I can deduce an error trace manually, but the trace is so long that tlc need too much time to explore. So can tlc choose the next step manually to get the specified error trace?

[2019-09-16 03:02] lemmy commented on #361
Pending further investigation: replacing

[code]
with
[code]
makes the spurious invariant failure disappear.  This indicates that this is either related to the Java impl of the ```Seq``` operator or to how TLC generally executes Java module overrides.

[2019-09-16 13:52] AmirHossein-SayyadAbdi opened #366 "Opening a new spec while the current spec has unsaved changes"
I am using version "1.6.0 of 10 July 2019" of the toolbox on Windows 10.
When I have unsaved changes in a currently open module of a spec, if I double-click on another spec a dialog prompts and says if I want to save the changes to my current module or not. If I click "cancel" then the changes will not be saved and yet the other spec I double-clicked on gets opened while the unsaved old spec is st

[2019-09-16 18:11] Calvin-L commented on #361
I did some poking around over the weekend and I have a different hypothesis. (The alternate TypeOK in my first comment above does not use `Seq` and still exhibits the bug.)

Is it possible for one instance of `SetEnumValue` to be shared between different worker threads? If so, it might be possible for two threads to see inconsistent results if one thread tries to `normalize` the set while another

[2019-09-16 18:57] Calvin-L commented on #361
(I should also point out that adding the `synchronized` keyword to `normalize` is not sufficient to make `SetEnumValue` fully thread-safe. There are still many ways for unsynchronized readers to see an inconsistent view of the object while normalization is happening. Making this class fully thread-safe will require a great deal more thought.)

[2019-09-16 19:07] lemmy commented on #361
Normalization of Value instances happens as part of state fingerprinting which happens before a state is enqueued in the state queue and thus shared with another thread. Additionally, tlc2.tool.ModelChecker.doNextCheckInvariants(TLCState, TLCState, boolean, boolean) checks if the successor state is a valid (which spuriously fails) right after the successor has been created and before it is even sh

[2019-09-16 19:23] lemmy commented on #361
Two successive runs with identical worker schedules but one showing the spurious violation.

[code]

[2019-09-16 19:53] quaeler commented on #366
Addressed with 5be659a

[2019-09-16 19:53] #366 closed

[2019-09-16 20:20] lemmy commented on #361
Overall the bug seems highly sensitive to timing changes.  Just adding a couple of System.err.println here and there reduces its probability of showing up.

[2019-09-16 20:38] Calvin-L commented on #361
Yes, but `Value` instances from the current state can be referenced by the successor state. It looks like this can even happen in subtle ways through "lazy" values like `UnionValue` and `SetCupValue`. Even in the successor state, I think there can be a lot of sharing going on.

Awesome, good to know. Working under the assumption that the problem is failure to normalize some value before it is enqu

[2019-09-16 21:47] ajdavis opened #367 "Verify implementation-level execution traces against their high-level TLA+ specification"
I’m looking for ways to verify that the TLA+ specs we write at my company match the behaviors of our actual software. I know there's code in CheckImpl.java that looks very promising for this purpose. I have some questions about it:

* Is there any documentation for using it? Do we access its functionality via the Toolbox GUI or some other way?
* Do we know of anyone who has used this code to check

[2019-09-16 22:17] lemmy commented on #361
I can confirm that (even) calling ''normalize" on UnionValue#set appears to make the spurious violation disappear.

Note that UV#deepNormalize is called as part of constant processing at TLC startup, but not during state space exploration (SSE).  In other words, it executes when 0-arity operators such as ```AnyResponseType``` are evaluated way before SSE.  The results of constant processing are ke

[2019-09-16 22:23] lemmy commented on #367
Related: #365

[2019-09-16 23:01] lemmy commented on #367
To quickly summary the status quo:

1. No documentation and no Toolbox integration
2. The approach can be summarized as random testing. In other words, there are no guarantees that the spec's state space is exhaustively covered. Feeding TLC coverage information back into the execution of the implementation can help to cover a larger state space
3. CheckImplFile has been broken since at least 2009

[2019-09-16 23:23] lemmy commented on #275
This enhancement request has received significant positive feedback during TLA+ conf.

[2019-09-16 23:37] lemmy commented on #365
Lets consider the following spec whose state space has 100 distinct states:

[code]

You can force TLC to explore a subset of the state space by specifying a "State Constraint" on the ```Spec Options``` page of the Model:

[code]

[2019-09-16 23:52] lemmy commented on #191
@will62794 As per last week's discussion, I consider this feature done.

[2019-09-16 23:54] lemmy commented on #275
@quaeler Wanna take it?

[2019-09-17 00:00] lemmy commented on #275
I just realized that the trick outlined in https://github.com/tlaplus/tlaplus/issues/365#issuecomment-531998203 is related to this enhancement; except instead of copying a single state to the init predicate, it copies the complete trace as the state constraint.

[2019-09-17 00:09] lemmy commented on #361
Double checking; the following change to SetEnumValue also causes the spurious violation to disappear:

[code]

[2019-09-17 00:31] lemmy commented on #361
I managed to manually cause two workers to race to normalize a SetEnumValue that represents a constant expression.  The obvious fix would be to eagerly normalize constants.

[2019-09-17 00:34] Calvin-L commented on #361
Yes, with your proposed implementation of `normalize` I can no longer reproduce the problem.

However, in case you are considering committing it, I advise against considering the proposed implementation a complete fix, since:
 1. [Double-checked locking is broken](https://www.cs.umd.edu/~pugh/java/memoryModel/DoubleCheckedLocking.html).
 2. Synchronization in `normalize` alone will not prevent oth

[2019-09-17 00:43] lemmy commented on #361
I have yet to be convinced that we need thread-safe value instances, because *state values* (as opposed to constant values) will be normalized prior to sharing due to fingerprinting.

Constant values on the other hand can be eagerly normalized before SSE.

[2019-09-17 01:08] Calvin-L commented on #361
That makes sense to me!

[2019-09-17 02:18] Starydark commented on #365
Thanks for your reply. Specifying a "State Constraint" may reduce states, but sometimes it's hard to specify it, such as the executing of A A A B B A B B B...
If I want to develop a function  of tracking a specified error trace by meaning of selecting the next action one by one, is this very hard to implement? And I'm not very familiar with the structure of this project at present, could you pleas

[2019-09-17 03:27] lemmy commented on #365
Use the following "Action Constraint":

[code]

[2019-09-17 04:35] quaeler commented on #275
shoaley - sounds good.

[2019-09-17 17:14] #365 closed

[2019-09-17 20:36] lemmy commented on #269
Java 13 is out.

[2019-09-17 20:38] pron commented on #269
Yep :) There's a new Java release every ~2 months, and the integer is bumped every three releases.

[2019-09-18 00:03] lemmy commented on #361
After spending more quality time with Value#deepNormalize I noticed that sub-classes show inconsistent behavior, i.e. Value#isNormalized returns false after Value#deepNormalize has been called.

[code]

This indicates that it is best to call Value#fingerprint in addition to Value#deepNormalize in SpecProcessor to guarantee fully initialized Value instances (fingerprint internally triggers convertA

[2019-09-18 00:11] ahelwer opened #368 "Document possible TLCGet parameters"
The github wiki is one possible place to document this, or the TLC module itself.

[2019-09-18 00:13] lemmy commented on #368
Lets not use the wiki because it will be lost should we migrate away from Github.

[2019-09-18 00:51] lemmy commented on #361
https://github.com/tlaplus/tlaplus/commit/3014894545c54dee787d575c3070021801183eed

[2019-09-18 01:56] Calvin-L commented on #361
Fantastic, thank you for the quick resolution on this. :)

[2019-09-18 18:16] lemmy commented on #368
@ahelwer Can you take this?

[2019-09-18 18:24] lemmy commented on #367
Technical issues:

Let S be the high-level spec and T be a trace (see excerpt below) encoded as a spec extending S.  CheckImplFile parses both S and T and consequently creates two semantic graphs SG<sub>S</sub> and SG<sub>T</sub>.  When CIF attempts to create a TLCState instance from the operators ```STATE_1```, ```STATE_2```, ... in T, it crashes because SG<sub>T</sub> is not fully initialized: w

[2019-09-18 22:32] lemmy commented on #367
Looking at ancient TLC versions (1999) indicates that CheckImpl was originally written for older implementation of the AST/semantic graph.  This would explain, why it fails with the current implementation of the SG.

[2019-09-18 23:42] lemmy commented on #367
To summarize:

Verifying random execution traces against a high-level TLA+ spec is known to have low probability of catching (deep) bugs.  If one nonetheless decides to follow this approach, one would at least want to verify large numbers of execution traces.  CheckImplFile however is not designed for high throughput; communication is based on files and each trace is parsed with SANY (which is lik

[2019-09-19 01:46] ajdavis commented on #367
Thanks so much for the investigation! I'm curious about your statement that verifying random traces is known to have a low probability of catching bugs, do you have any citations or links with evidence for that intuition?

I'd also like to know what features TLC has for providing coverage information.

In gratitude,
J.

[2019-09-19 02:18] lemmy commented on #367
@ajdavis Conceptually, verifying random traces is as good as testing; no guarantees that you will sufficiently cover the state space.  If you additionally exploit TLC's coverage information to drive the impl into corners of the state space, you essentially use statement coverage of the high-level spec.

[2019-09-19 03:02] lemmy commented on #367
Note that Ron Pressler showed how to check execution traces with TLC without CheckImplFile:
[Trace.pdf](https://github.com/tlaplus/tlaplus/files/3629149/Trace.pdf) (copied from http://pron.github.io/files/Trace.pdf)

[2019-09-19 14:09] ajdavis commented on #367
Thanks! I've read Ron Pressler's paper and I think I'll follow that approach, approximately.

Is there any additional info about coverage information? I definitely want to try what you're suggesting, "exploit TLC's coverage information to drive the impl into corners of the state space." I've found [in the TLC docs](https://lamport.azurewebsites.net/tla/tlc-options.html?back-link=tools.html) the fo

[2019-09-19 16:37] lemmy commented on #367
@ajdavis A nuisance with Ron's approach is that it requires to encode the execution traces (ET) in the TLA+ specification.  I believe it would be more useful if ETs were consumable from a text file such as a csv file.  What would be your preference for the format of ETs?

With regards to coverage, the output below shows a TLC run with ```-coverage 1``` (with a few added newlines).  A high-level de

[2019-09-19 17:06] ahelwer commented on #368
Where should I document them, and where is the existing list of parameters which are supported?

[2019-09-19 17:10] lemmy commented on #368
I would say it is best documented as part of the operators documentation in the standard module: https://github.com/tlaplus/tlaplus/blob/3014894545c54dee787d575c3070021801183eed/tlatools/src/tla2sany/StandardModules/TLC.tla#L28-L60

The existing list of parameters can be found at: https://github.com/tlaplus/tlaplus/blob/3014894545c54dee787d575c3070021801183eed/tlatools/src/tlc2/module/TLC.java#L16

[2019-09-19 18:39] ajdavis commented on #367
Thanks, I understand now. Yes, if ETs were consumable from disk in any format it would be much more convenient than Ron's approach. CSV would be a great format.

I see now what the profiling (also known as "coverage"?) data is for, and it doesn't match my use-case. I want to know which of the model's possible states and transitions are covered by any of the ETs. I don't think profiling data helps

[2019-09-19 19:30] lemmy commented on #367
@ajdavis An approach that is related to dumping the state graph will not scale.

* The profiling data is exact, it is not a sampler!
* If an expression is captured as part of profiling, it also implies that the corresponding action has be taken.  In addition, it captures the number of (distinct) states generated by an action.  It however is true that profiling does not say anything about the behav

[2019-09-19 19:57] lemmy commented on #367
@ajdavis Since you seem to be interested in exhaustively covering the high-level spec's state space; Have you considered using TLC to drive your implementation either by harnessing your implementation or feeding it inputs?

[2019-09-19 23:42] ajdavis commented on #367
Thanks, I can't get it to print any coverage stats at all with `-coverage 1` in the "TLC Options" so there's something I'm doing wrong. I'll open a separate ticket for that if I decide I need coverage.

I'm very interested to hear more about how TLC could drive my implementation by harnessing, I don't know what you mean by that.

[2019-09-20 00:14] lemmy commented on #367
In the Toolbox you activate coverage on the "TLC Options page":

![Screenshot from 2019-09-19 17-13-57](https://user-images.githubusercontent.com/88777/65289777-f8132d00-db00-11e9-9c77-4d67d0879432.png)

-----

Model driven code checking: https://link.springer.com/article/10.1007/s10515-008-0033-9

[2019-09-20 01:18] ajdavis commented on #367
Terrific, thanks. I'll go read that paper. We can close this now if you like.

[2019-09-21 17:37] ahelwer commented on #368
Is it correct to say that "level" is the depth from the starting state of the state from which TLCGet is called? And "diameter" is the maximum depth reached? Does depth start counting from 0 or 1?

[2019-09-22 02:55] lemmy commented on #368
* "level" is the distance (number of transitions) from the current state (in which TLCGet is evaluated) to the behavior's initial state (local property) => initial states have level 0
* "diameter" is the longest behavior found so far by model checking (global property of the state space exploration) => initial states have diameter 1

[2019-09-22 18:49] lemmy commented on #275
Looking at the commits and the screencast, it doesn't seem to include the idea outlined in https://github.com/tlaplus/tlaplus/issues/275#issuecomment-532002862.

How much work will it be to generate and copy the sequence of actions to the "Action Constraints" on the "Spec Options" page?  Instead of adding <<A,B,C>>[TLCGet("level")] we could add a 1-arity operator to Toolbox.tla named something alo

[2019-09-22 18:54] quaeler commented on #275
Hmm.. i thought the cited idea states that the trace should be copied as a state constraint. ?